<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/credit/header" />

<body>
    <tt:constant enumcode="supervise-scope," />
    <section class="content-header">
        <h1>监管人员维护</h1>
        <ol class="breadcrumb">
            <li><a href="/credit/org/superviser/index"><i class="fa fa-list-alt"></i>监管人员列表</a></li>
            <li class="active">监管人员详情</li>
        </ol>
    </section>
    <section class="content">
    </section>
    <div class="col-sm-2 col-sm-offset-5 btn-back">
        <a href="/credit/org/superviser/index" class="btn btn-primary btn-block">返回</a>
    </div>
    <input type="hidden" id="id" th:value="${id}" />
    <div th:include="/credit/footer" />
    <script type="text/javascript">
    $(function() {
        var options = {
            id: "model",
            name: "监管人员详情",
            url: "/credit/org/superviser/update?id=" + $("#id").val(),
            columns: [
                { title: "名称", name: "name", required: "required", inputType: "TEXT" },
                { title: "监管科室·机构", name: "superviseScope", multiple: true, inputType: "SELECT", enum: "supervise-scope" },
                { title: "账号", name: "account", required: "required", inputType: "TEXT" },
                { title: "角色", name: "role", required: "required", multiple: true, inputType: "SELECT-SERVER", url: "/credit/permission/role/lower" }
            ]
        }

        $.getAjax("/credit/org/superviser/get?id=" + $("#id").val(), function(data) {
            var html = generateHtml(options);
            $(".content").html(html);
            $.initComponment($(".content"));

            var model = new tonto.Model("model", options.columns);
            model.setData(data);
        });
    });
    </script>
</body>

</html>