<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/credit/header" />

<body>
    
    <section class="content-header">
        <h1>管理员维护</h1>
        <ol class="breadcrumb">
            <li><a href="/credit/org/admin/index"><i class="fa fa-list-alt"></i>列表</a></li>
            <li class="active">详情</li>
        </ol>
    </section>
    <section class="content">
    </section>
    <div class="col-sm-2 col-sm-offset-5 btn-back">
    	<a href="/credit/org/admin/index" class="btn btn-primary btn-block">返回</a>
    </div>
    <input type="hidden" id="id" th:value="${id}"/>
    <div th:include="/credit/footer" />
    <script type="text/javascript">

    $(function() {
    	var options = {
	        id: "model",
	        name: "详情",
	        url:"/credit/org/admin/update?id="+$("#id").val(),
	        columns: [
	        	{ title: "名称", name: "name", required: "required", inputType: "TEXT" },
	            { title: "管理机构", name: "manageAgency", required:"required", multiple: true, inputType: "SELECT-SERVER", url: "/credit/permission/agency/lower" },
	            { title: "账号", name: "account", required: "required", inputType: "TEXT" },
	            { title: "角色", name: "role", required: "required", multiple: true, inputType: "SELECT-SERVER", url: "/credit/permission/role/lower" }
				]
	    }
    
        $.getAjax("/credit/org/admin/get?id="+$("#id").val(), function(data) {
            var html = generateHtml(options);
            $.initComponment($(".content"));

            $(".content").html(html);
            var model = new tonto.Model("model", options.columns);
            model.setData(data);
        });
    });
    </script>
</body>

</html>