<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/credit/header" />

<body>
    <tt:constant enumcode="sex-type,identification-type,political-affiliation-type,nation-type,"/>
    <section class="content-header">
        <h1>人员</h1>
        <ol class="breadcrumb">
            <li><a href="/credit/org/personnel/index"><i class="fa fa-list-alt"></i>列表</a></li>
            <li class="active">详情</li>
        </ol>
    </section>
    <section class="content">
    </section>
    <div class="col-sm-2 col-sm-offset-5 btn-back">
    	<a href="/credit/org/personnel/index" class="btn btn-primary btn-block">返回</a>
    </div>
    <input type="hidden" id="id" th:value="${id}"/>
    <div th:include="/credit/footer" />
    <script type="text/javascript">

    $(function() {
    	var options = {
	        id: "model",
	        name: "详情",
	        url:"/credit/org/personnel/update?id="+$("#id").val(),
	        columns: [
				{ title: "证件类型", name: "identificationType", enum: "identification-type", required: "required", inputType: "SELECT" },
				{ title: "证件号码", name: "identificationNo", required: "required", inputType: "TEXT" },
				{ title: "name", name: "name", inputType: "TEXT" },
				{ title: "sex", name: "sex", enum: "sex-type", inputType: "SELECT" },
				{ title: "birthday", name: "birthday", inputType: "DATE" },
				{ title: "cellphone", name: "cellphone", inputType: "TEXT" },
				{ title: "office_phone", name: "officePhone", inputType: "TEXT" },
				{ title: "民族", name: "nation", enum: "nation-type", inputType: "SELECT" },
				{ title: "开始工作时间", name: "startWorkTime", inputType: "DATE" },
				{ title: "加入党派时间", name: "joinPartyTime", inputType: "DATE" },
				{ title: "政治面貌", name: "politicalAffiliation", enum: "political-affiliation-type", inputType: "SELECT" }
				]
	    }
    
        $.getAjax("/credit/org/personnel/get?id="+$("#id").val(), function(data) {
            var html = generateHtml(options);
            $(".content").html(html);
            $.initComponment($(".content"));

            var model = new tonto.Model("model", options.columns);
            model.setData(data);
        });
    });
    </script>
</body>

</html>