<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/credit/header" />

<body>
    <tt:constant enumcode="supervise-scope," />
    <section class="content-header">
        <h1>监管人员维护</h1>
        <ol class="breadcrumb">
            <li><a href="/credit/org/superviser/index"><i class="fa fa-table"></i>监管人员列表</a></li>
            <li class="active">新增监管人员</li>
        </ol>
    </section>
    <section class="content">
    </section>
    <div class="col-sm-2 col-sm-offset-5 btn-back">
        <a href="/credit/org/superviser/index" class="btn btn-primary btn-block">返回</a>
    </div>
    <div th:include="/credit/footer" />
    <script type="text/javascript">
    var options = {
        id: "model",
        name: "新增监管人员",
        url: "/credit/org/superviser/save",
        cancelBtn: false,
        columns: [
            { title: "名称", name: "name", required: "required", inputType: "TEXT" },
            { title: "监管科室·机构", name: "superviseScope", multiple: true, inputType: "SELECT", enum: "supervise-scope" },
            { title: "账号", name: "account", required: "required", inputType: "TEXT" },
            { title: "角色", name: "role", required: "required", multiple: true, inputType: "SELECT-SERVER", url: "/credit/permission/role/lower" }
        ]
    }

    $(function() {
        var html = generateEditHtml(options);
        $(".content").html(html);
        $.initComponment($(".content"));

        var model = new tonto.Model("model", options.columns, {
            pattern: "edit",
            successCallback: function() {
                $.successAlert("保存成功", function() {
                    window.location = "/credit/org/superviser/index";
                });
            }
        });
        model.setData(null);
    });
    </script>
</body>

</html>