<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/credit/header" />

<body>
    <tt:constant enumcode="sex-type,identification-type,political-affiliation-type,nation-type,"/>
    <section class="content-header">
        <h1>人员机构维护</h1>
        <ol class="breadcrumb">
            <li><a href="/credit/org/personnel/agency/index"><i class="fa fa-list-alt"></i>机构人员列表</a></li>
            <li class="active">>机构人员详情</li>
        </ol>
    </section>
    <section class="content">
    </section>
    <div class="col-sm-2 col-sm-offset-5 btn-back">
    	<a href="/credit/org/personnel/agency/index" class="btn btn-primary btn-block">返回</a>
    </div>
    <input type="hidden" id="id" th:value="${id}"/>
    <div th:include="/credit/footer" />
    <script type="text/javascript">

    $(function() {
    	var options = {
	        id: "model",
	        name: "机构人员详情",
	        url:"/credit/org/personnel/agency/update?id="+$("#id").val(),
	        columns: [
                { title: "名称", name: "name", required: "required", inputType: "TEXT" },
                { title: "管理机构名称", name: "agencyId",  inputType: "SELECT-SERVER", url: "/credit/permission/agency/lower", multiple: false},
                { title: "账号", name: "account", required: "required", inputType: "TEXT" },
                { title: "角色", name: "role", required: "required", inputType: "SELECT-SERVER", url: "/credit/permission/role/in", multiple: false }

				]
	    }

        $.getAjax("/credit/org/personnel/agency/get?id="+$("#id").val(), function(data) {
            var html = generateHtml(options);
            $(".content").html(html);
            $.initComponment($(".content"));
           
            var model = new tonto.Model("model", options.columns);
            model.setData(data);
        });
    });
    </script>
</body>

</html>