<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/credit/header" />

<body>
<tt:constant enumcode="selection-grade-type,item-target-type,sex-type,supervise-check-status,boolean-type"/>
<input type="hidden" id="targetType" name="targetType" th:value="${targetType}">
<section class="content-header" th:switch="${targetType}">
    <h1 th:case="'1'">医疗机构-卫监所</h1>
    <h1 th:case="'2'">医疗人员-卫监所</h1>
    <h1 th:case="'3'">医疗活动相关人员-卫监所</h1>
    <ol class="breadcrumb">
        <li><a  th:href="@{'/credit/daily/operation/wjs/'+${targetType}}" ><i class="fa fa-table"></i>监察记录列表</a></li>
        <li class="active">详情</li>
    </ol>
</section>
<section class="content">
    <div id="detail"></div>
</section>
<div class="col-sm-2 col-sm-offset-5 btn-back">
    <a th:href="@{'/credit/daily/operation/wjs/'+${targetType}}" class="btn btn-primary btn-block">返回</a>
</div>
<input type="hidden" id="id" th:value="${id}"/>
<div th:include="/credit/footer" />
<script type="text/javascript">

    $(function() {
        var options = {
            id: "model",
            name: "监察详情",
            columns: [
                { title: "监察项目", name: "item", required: "required",colspan:2, inputType: "TEXT" },
                { title: "目标类型", name: "targetType", enum: "item-target-type",colspan:2, required: "required", inputType: "SELECT" },
                { title: "机构", name: "agencyId", required: "required",inputType: "SELECT-SERVER", url: "/credit/permission/agency/lower", dependency:["targetType","1"] },
                { title: "人员", name: "personnelId", required: "required",inputType: "SELECT-SERVER", url: "/credit/permission/people/lower" ,dependency:["targetType","2"]},
                { title: "人员姓名", name: "personnelName", required: "required", inputType: "TEXT",dependency:["targetType","3"] },
                { title: "人员性别", name: "personnelSex", required: "required", inputType: "RADIO", enum: "sex-type",dependency:["targetType","3"] },
                { title: "人员身份证", name: "personnelIdentification", required: "required", inputType: "TEXT",dependency:["targetType","3"] },
                { title: "人员地址", name: "personnelAddress", inputType: "TEXT",dependency:["targetType","3"] },
                { title: "监察结果名称", name: "resultName", required: "required", inputType: "TEXT" , dependency:["isWjs","2"]},
                { title: "监察结果等级", name: "resultGrade", enum: "selection-grade-type", required: "required", inputType: "SELECT" },
                { title: "是否为卫监所", name: "isWjs",colspan:2, inputType: "SELECT",enum: "boolean-type" },
                { title: "说明", name: "explainText", required: "required", inputType: "TEXTAREA" , dependency:["isWjs","2"]},
                { title: "附件", name: "explainAttachment", fileName: "explainAttachmentFile", maxFileCount: 5, required: "required", inputType: "ATTACHMENT" , dependency:["isWjs","2"]},
                { title: "扣分条例依据", name: "item", multiple: false, inputType: "SELECT-SERVER", url: "/credit/org/rule/management/lower/1", dependency:["isWjs","1"]},
                { title: "扣除分值", name: "score", inputType: "NUMBER" , dependency:["isWjs","1"]},
                { title: "扣分决定书照片上传",name: "scoreAttachment", inputType: "ATTACHMENT", fileName: "scoreAttachmentFile", maxFileCount: 5 , dependency:["isWjs","1"]},
                { title: "行政处罚决定书编号",name:"punishNo",inputType: "TEXT", dependency:["isWjs","1"] },
                { title: "处罚时间",name: "punishTime", inputType: "DATE", dependency:["isWjs","1"]},
                { title: "处罚决定书上传",name: "punishAttachment", inputType: "ATTACHMENT", fileName: "punishAttachmentFile", maxFileCount: 5, dependency:["isWjs","1"] },
                { title: "审核意见", name: "illustrate", colspan:2, inputType: "TEXT" },
                { title: "审核状态", name: "status",colspan:2, inputType: "SELECT", enum: "supervise-check-status" }
            ]
        };

        $.getAjax("/credit/supervise/record/get?id="+$("#id").val(), function(data) {
            var html = generateViewHtml(options);
            $("#detail").html(html);
            $.initComponment($("#detail"));

            var model = new tonto.Model("model", options.columns);
            model.setData(data);
        });
    });

</script>
</body>

</html>