<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/credit/header" />

<body>
<tt:constant enumcode="sex-type,administrative-status-type,administrative-target-type,information-usage-scope,identification-type,punishment-type,dishonesty-degree-type,wjs-info-entry-type" />
<section class="content-header">
    <h1 th:text="|${type == 1 ? '医疗机构' : (type == 2 ? '医疗人员' : '医疗活动相关人员')}-卫监所|"></h1>
    <ol class="breadcrumb">
        <li><a  th:href="@{'/credit/daily/operation/wjs/'+${type}}" ><i class="fa fa-table"></i>监察记录列表</a></li>
        <li class="active">添加监察记录</li>
    </ol>
</section>
<section class="content">
</section>
<input type="hidden" id="type" name="type" th:value="${type}">
<div th:include="/credit/footer" />
<script type="text/javascript">
    var type,scoreBasis,item,punishmentCause;
    var options = {
        id: "model",
        server: false,
        cancelBtn: false,
        name: "添加监察记录",
        formButtonBar:[{
            id:  'reply_btn',
            type: 'button',
            name:  '返回',
            class: 'btn btn-default btn-block',
            order: 2
        }],
        editFormClass: false,
        columns: [
            { title: "信息录入种类", name: "infoEntryType", inputType: "SELECT" ,enum:"wjs-info-entry-type", required: "required"},
            {        title: "人员",
                name: "personnels",
                required: "required",
                inputType: "SUB-MODEL",
                subViewField: "personnelName",
                addSubModelBtnTitle: '添加人员',
                subTitleViewHtmml: function(data) {
                    var html = "<h3 style='display: inline-block;font-size: 18px;margin: 0;line-height: 1;' id='personName'>" + data.personnelName + "</h3>";
                    html += '<span class="text-muted text-center">' +
                        '<span style="border-right:2px solid #f4f4f4;padding-right:20px;margin-left:20px;">' + $.getConstantEnumValue("sex-type", data.personnelSex) + '</span>' +
                        '<span style="border-right:2px solid #f4f4f4;padding-right:20px;margin-left:20px;">' + hideIdentification(data.personnelIdentification) + '</span>' +
                        '<span style="margin-left:20px;">' + omitString(data.personnelAddress, 30) + '</span>' +
                        '</span>';
                    return html;
                },
                subModelOptions: {
                    headBorder: false,
                    hearderBox: false,
                    server: false,
                    formPaddingLeft: 50,
                    layerOption: {
                        height: 380,
                        width: 700
                    },
                    columns: [
                        { title: "人员姓名", name: "personnelName", inputType: "TEXT", required: "required" },
                        { title: "人员性别", name: "personnelSex", inputType: "RADIO", enum: "sex-type" , required: "required"},
                        { title: "人员身份证", name: "personnelIdentification", inputType: "TEXT" , required: "required"},
                        { title: "人员地址", name: "personnelAddress", inputType: "TEXT" }
                    ]
                } },
            { title: "处罚名称", name: "punishmentName", required: "required", inputType: "TEXT" ,colspan:2 ,dependency:["infoEntryType","1"]},
            { title: "处罚案由", name: "punishmentCase", required: "required", colspan:2 ,multiple: true, inputType: "SELECT-SERVER", idField : "data", url: "/credit/org/punishment/rules/manage/lower", dependency:["infoEntryType","1"]},
            /*  { title: "处罚理由", name: "punishmentReason", required: "required",colspan:2, inputType: "TEXT" ,dependency:["infoEntryType","1"]},*/
            { title: "处罚依据", name: "punishmentBasis", required: "required", inputType: "TEXTAREA" ,dependency:["infoEntryType","1"]},
            { title: "处罚结果", name: "punishmentResult", required: "required", inputType: "TEXTAREA" ,dependency:["infoEntryType","1"]},
            { title: "处罚文书号", name: "punishmentDocumentNumber", required: "required", inputType: "TEXT" ,dependency:["infoEntryType","1"]},
            { title: "处罚决定日期", name: "punishmentDecisionTime", required: "required", inputType: "DATE" ,dependency:["infoEntryType","1"]},
            { title: "处罚机构", name: "punishmentOrganization", required: "required", inputType: "TEXT" ,dependency:["infoEntryType","1"]},
            { title: "处罚类型1", name: "punishmentTypeOne", required: "required", inputType: "SELECT",enum:"punishment-type" ,dependency:["infoEntryType","1"]},
            { title: "处罚类型2", name: "punishmentTypeTwo", inputType: "SELECT",enum:"punishment-type" ,dependency:["infoEntryType","1"]},
            { title: "信息使用范围", name: "informationUsageScope", required: "required", inputType: "SELECT" ,enum:"information-usage-scope",dependency:["infoEntryType","1"]},
            { title: "失信严重程度", name: "dishonestyDegree", inputType: "SELECT",enum:"dishonesty-degree-type" ,dependency:["infoEntryType","1"] },
            { title: "状态", name: "punishmentStatus", required: "required", inputType: "SELECT",enum:"administrative-status-type" ,dependency:["infoEntryType","1"] },
            { title: "处罚决定书上传",name: "punishAttachment", inputType: "ATTACHMENT", fileName: "punishAttachmentFiles", maxFileCount: 5 , allowedFileExtensions: ["jpeg", "jpg", "png",  "pdf"],dependency:["infoEntryType","1"]},
            { title: "记分通知书编号", name: "scoreNotificationNumber", required: "required", inputType: "TEXT" ,dependency:["infoEntryType","2"]},
            { title: "记分日期", name: "scoreTime", required: "required", inputType: "DATE" ,dependency:["infoEntryType","2"]},
            /*{ title: "记分案由", name: "scoreCase", required: "required", inputType: "TEXT" ,colspan:2 ,dependency:["infoEntryType","2"]},*/
            { title: "记分依据", name: "scoreBasisSelect",required: "required", colspan:2 ,multiple: true, inputType: "SELECT-SERVER", url: "/credit/org/rule/management/lower/1",dependency:["infoEntryType","2"]},
            { title: "扣除分值", name: "score", inputType: "NUMBER", required: "required",dependency:["infoEntryType","2"], attr:{'min':'0'}},
            { title: "记分结果", name: "scoreResult", inputType: "TEXTAREA" ,dependency:["infoEntryType","2"]},
            { title: "扣分决定书照片上传",name: "scoreAttachment", inputType: "ATTACHMENT", fileName: "scoreAttachmentFiles", maxFileCount: 5 , allowedFileExtensions: ["jpeg", "jpg", "png",  "pdf"],dependency:["infoEntryType","2"]}
        ]
    };

    $(function() {
        type = $("#type").val();
        var html = generateEditHtml(options);
        $(".content").html(html);
        $("#reply_btn").click(function () {
            window.location = "/credit/daily/operation/wjs/"+type;
        });
        $.initComponment($(".content"));
        var model = new tonto.Model("model", options.columns, {
            pattern:"edit",
            server: false,
            submitClick: function() {
                var param = model.getFormData();
                param['targetType'] = type;
                param['scoreBasis'] = scoreBasis;
                param['item'] = item;
                param['punishmentCause'] = punishmentCause;
                var punishFiles = param.punishAttachmentFiles;
                var scoreFiles = param.scoreAttachmentFiles;
                let punishFilesUploadSuccess = false;
                let scoreFilesUploadSuccess = false;
                if (scoreFiles && scoreFiles.length > 0) {
                    ajaxUploadFile(scoreFiles, function (att) {
                        let attachment = param.scoreAttachment;
                        att.forEach(function (a) {
                            attachment += a.id + ',';
                        });
                        param.scoreAttachment = attachment;
                        scoreFilesUploadSuccess = true;
                        if (punishFilesUploadSuccess && scoreFilesUploadSuccess) {
                            $.postJsonAjax('/credit/supervise/record/wjs/json/save',param,function () {
                                $.successAlert("录入成功",function () {
                                    window.location = '/credit/daily/operation/wjs/'+type
                                })
                            });
                        }
                    }, model.formSubmitBtn);
                }else {
                    scoreFilesUploadSuccess = true;
                }

                if (punishFiles && punishFiles.length > 0) {
                    ajaxUploadFile(punishFiles, function (att) {
                        let attachment = param.punishAttachment;
                        att.forEach(function (a) {
                            attachment += a.id + ',';
                        });
                        param.punishAttachment = attachment;
                        punishFilesUploadSuccess = true;
                        if (punishFilesUploadSuccess && scoreFilesUploadSuccess) {
                            $.postJsonAjax('/credit/supervise/record/wjs/json/save',param,function () {
                                $.successAlert("录入成功",function () {
                                    window.location = '/credit/daily/operation/wjs/'+type
                                })
                            });
                        }
                    }, model.formSubmitBtn);

                }else {
                    punishFilesUploadSuccess = true;
                }

                if (punishFilesUploadSuccess && scoreFilesUploadSuccess) {
                    $.postJsonAjax('/credit/supervise/record/wjs/json/save',param,function () {
                        $.successAlert("录入成功",function () {
                            window.location = '/credit/daily/operation/wjs/'+type
                        })
                    });
                }
            }
        });
        model.setData(null);
        $("[name = 'scoreBasisSelect']").on("change",function(e){
            let $scoreItem = $("[name = 'scoreBasisSelect'] option:selected");
            let score = 0;
            let text = "";
            $scoreItem.each(function () {
                score += parseInt($(this).val() ? $(this).val() : 0);
                text += $(this).text() + ';\n';
            });
            $("[name='score']").val(score);
            scoreBasis = text;
            item = $("#personName").text() + '不良执业行为记分';
        });

        $("[name = 'punishmentCase']").on("change",function(e){
            let $caseItem = $("[name = 'punishmentCase'] option:selected");
            let text = "";
            let punishment = "";
            $caseItem.each(function () {
                text += $(this).val()+"\n";
                punishment += spliceStr($(this).text()) +";"
            });
            punishmentCause = punishment;
            $("[name = 'punishmentBasis']").val(text);
            $("input[name = 'punishmentOrganization']").val("昆山市卫生健康委员会");
        });

        $("input[name='punishmentName']").blur(function (e) {
            item = $("input[name='punishmentName']").val()
        });
    });

    function spliceStr(str) {
        let index = str.indexOf("、");
        return   str.substr(index+1)
    }

</script>
</body>

</html>