<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/credit/header"/>

<body>
<tt:constant enumcode="selection-grade-type,item-target-type,agency-credit-grade"/>
<section class="content-header">
    <h1>医疗机构信用评价-机构详情</h1>
</section>
<section class="content">
    <div class="box box-solid">
        <div class="box-body">
            <form id="searchbar" class="form-horizontal form-search">
                <div class="form-group">
                    <div class="col-md-2">
                        <select class="form-control  tonto-select-constant" name="resultGrade" enumcode="agency-credit-grade" th:value="${query?.resultGrade}">
                            <option value="">请选择信用等级</option>
                        </select>
                    </div>
                    <div class="col-md-10">
                        <div class="pull-right">
                            <button type="button" style="width:100px" class="btn btn-primary tonto-btn-search"
                                    onclick="table.refresh()"><i class="fa fa-search"></i>查询
                            </button>
                            <button type="button" style="width:100px" class="btn btn-default"
                                    onclick="$('#searchbar').resetSearch()"><i class="fa fa-repeat"></i>重置
                            </button>
                        </div>
                    </div>
                </div>
                <!-- 表单仅有一个text-input时回车会提交表单，这里添加一个无用的防止回车提交 -->
                <input type="text" style="display:none">
            </form>
            <input type="hidden" id="pageLimit" th:value="${query?.limit}"/>
            <input type="hidden" id="pageOffset" th:value="${query?.offset}"/>
        </div>
    </div>
    <div class="box box-solid" style="margin-top:20px">
        <div id="result" class="box-body">
            <table id="dataGrid"></table>
            <div id="toolbar">
            </div>
        </div>
    </div>
</section>
<div th:include="/credit/footer"/>
<script type="text/javascript">
    /*<![CDATA[*/
    var table;
    $(function () {
        initDataGrid();
    });

    function initDataGrid() {
        table = $.createTable("#dataGrid", {
            columns: [
                [
                    {title: "信誉等级", field: "resultGrade", enumcode:"agency-credit-grade"},
                    {title: "单位名称", field: "agencyName"},
                    {title: "社会信用代码", field: "socialCreditCode"},
                    {title: "单位地址", field: "address"},
                    {title: "法定代表人或负责人", field: "chargePerson"},
                    {title: "联系电话", field: "contactWay"},
                    {title: "机构类别", field: "agencyType"},
                    {title: "成立日期", field: "registerTime"},
                    {title: "经营范围", field: "businessScope"}
                ]
            ],
            url: '/credit/supervise/record/find/report/org/page',
            searchbar: '#searchbar',
            exportUrl: '/credit/supervise/record/org/export',
            showExport: true,
            showColumns: true,
            pagination: true,
            toolbar: "#toolbar",
            showRefresh: true
        });
    }


    /*]]>*/
</script>
</body>
</html>