<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/credit/header" />

<body>

<section class="content-header" >
    <h1 th:text="|${type == 1 ? '医疗机构' : (type == 2 ? '医疗人员' : '医疗活动相关人员')}-卫监所|"></h1>
    <ol class="breadcrumb">
        <li><a  th:href="@{'/credit/daily/operation/wjs/'+${type}}" ><i class="fa fa-table"></i>监察记录列表</a></li>
        <li class="active">添加监察记录</li>
    </ol>
</section>
<section class="content">
    <div id="model_container" class="box box-widget" >
        <div class="box-header no-border" >
            <h3 class="box-title">添加监察记录</h3>
            <div class="box-tools pull-right">
                <a class="btn tonto-model-tool-view-btn" id="model_edit_btn" href="javascript:void(0)"><i class="fa fa-edit"></i>编辑</a>
            </div>
        </div>
        <div id="model_view" class="box-body">
            <form class="form-horizontal" style="padding-left:100px">
                <div class="form-group">
                    <label for="personnelId" class="col-sm-2 control-label">医疗人员姓名：</label>
                    <div class="col-sm-3">
                        <p name="personnelId" class="form-control-static description"></p>
                    </div>
                    <label for="scoreTime" class="col-sm-2 control-label">记分时间：</label>
                    <div class="col-sm-3">
                        <p name="scoreTime" class="form-control-static description"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ruleName" class="col-sm-2 control-label">违法事实选择：</label>
                    <div class="col-sm-3">
                        <p name="ruleName" class="form-control-static description"></p>
                    </div>
                    <label for="score" class="col-sm-2 control-label">扣除分值：</label>
                    <div class="col-sm-3">
                        <p name="score" class="form-control-static description"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="scoreAttachment" class="col-sm-2 control-label">扣分决定书照片上传：</label>
                    <div name="scoreAttachment" class="col-sm-8"></div>
                </div>
                <div class="form-group">
                    <label for="punishNo" class="col-sm-2 control-label">行政处罚决定书编号：</label>
                    <div class="col-sm-3">
                        <p name="punishNo" class="form-control-static description"></p>
                    </div>
                    <label for="punishTime" class="col-sm-2 control-label">处罚时间：</label>
                    <div class="col-sm-3">
                        <p name="punishTime" class="form-control-static description"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="punishAttachment" class="col-sm-2 control-label">违法事实照片上传：</label>
                    <div name="punishAttachment" class="col-sm-8"></div>
                </div>
            </form>
        </div>
        <div id="model_edit" class="box-body" style="display: none">
            <form id="model_form" action="/credit/supervise/record/wjs/save" method="post" class="form-horizontal null" style="padding-left:100px">
                <div class="form-group">
                    <label for="personnelId" class="col-sm-2 control-label">医疗人员姓名：</label>
                    <div class="col-sm-3">
                        <div class="input-group"><input name="personnelId" class="form-control" placeholder="请输入医疗人员姓名" autocomplete="off" readonly="readonly" style="background: rgb(255, 255, 255);"/>
                            <span class="input-group-addon" id="tonto-tree-select-remove-personnelId" style="cursor:pointer"><i class="glyphicon glyphicon-remove"></i></span></div>
                    </div>
                    <label for="scoreTime" class="col-sm-2 control-label">记分时间：</label>
                    <div class="col-sm-3">
                        <input name="scoreTime" placeholder="请输入记分时间" autocomplete="off" type="text" class="form-control tonto-datepicker-date"></div>
                </div>
                <div class="form-group">
                    <label for="ruleName" class="col-sm-2 control-label">违法事实选择：</label>
                    <div class="col-sm-3">
                        <select name="ruleName" class="form-control" id="scoreItem" onchange="changeScoreInput()">
                            <option value="">请选择</option>
                        </select>
                    </div>
                    <input type="hidden" id="item" name="item">
                    <label for="score" class="col-sm-2 control-label">扣除分值：</label>
                    <div class="col-sm-3">
                        <input name="score" class="form-control"  type="number" id="score" placeholder="请输入扣除分值">
                    </div>
                </div>
                <div class="form-group">
                    <label for="scoreAttachment" class="col-sm-2 control-label">扣分决定书照片上传：</label>
                    <div name="scoreAttachment" class="col-sm-8" >
                        <input type="file" name="scoreAttachmentFiles" multiple>
                    </div>
                </div>
                <div class="form-group">
                    <label for="punishNo" class="col-sm-2 control-label">行政处罚决定书编号：</label>
                    <div class="col-sm-3">
                        <input name="punishNo" placeholder="请输入行政处罚决定书编号" type="text" class="form-control"></div>
                    <label for="punishTime" class="col-sm-2 control-label">处罚时间：</label>
                    <div class="col-sm-3">
                        <input name="punishTime" placeholder="请输入处罚时间" autocomplete="off" type="text" class="form-control tonto-datepicker-date"></div>
                </div>
                <div class="form-group">
                    <label for="punishAttachment" class="col-sm-2 control-label">违法事实照片上传：</label>
                    <div name="punishAttachment" class="col-sm-8" >
                        <input type="file" name="punishAttachmentFiles" multiple>
                    </div>
                </div>
                <div class="form-group form-button-bar">
                    <div class="col-sm-2 col-sm-offset-3">
                        <button type="submit" id="model_form_submit_btn" class="btn btn-primary btn-block">保存</button>
                    </div>
                    <div class="col-sm-2 col-sm-offset-1">
                        <button type="button" id="reply_btn" class="btn btn-default btn-block">返回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<input type="hidden" id="type" name="type" th:value="${type}">
<div th:include="/credit/footer" />
<script type="text/javascript">
    var type;
    var options = {
        id: "model",
        cancelBtn: false,
        name: "添加监察记录",
        url:"/credit/supervise/record/wjs/save",
        columns: [
            {
                title: "医疗人员姓名",
                name: "personnelId",
                inputType: "SELECT-TREE-SERVER",
                idField:'id',
                url: "/credit/permission/people/lower",
                selectDataFilter:function (column, data) {
                    let peoples = data.people;
                    let agencies = data.agency;
                    if(agencies) {
                        agencies.filter(function (item) {
                            item.isAgency = true;
                        });
                    }

                    let oldData = peoples.concat(agencies);
                    let newData;
                    newData = oldData.filter(function (father) {
                        let children = oldData.filter(function (child) {
                            return father.id === child.agencyId
                        });
                        if (children.length > 0) {
                            father.children = children;
                        }
                        return father.agencyId == null;
                    });
                    return newData;
                },
                selectedHandler:function(column, data){
                    return (data && data.data.isAgency === true)?false:true;
                }
            },
            { title: "记分时间",name: "scoreTime", inputType: "DATE"},
            { title: "违法事实选择", name: "ruleName", multiple: false, inputType: "SELECT-SERVER", url: "/credit/org/rule/management/lower/2"},
            { title: "扣除分值", name: "score", inputType: "NUMBER" },
            { title: "扣分决定书照片上传",name: "scoreAttachment", inputType: "ATTACHMENT", fileName: "scoreAttachmentFiles", maxFileCount: 5 },
            { title: "行政处罚决定书编号",name:"punishNo",inputType: "TEXT" },
            { title: "处罚时间",name: "punishTime", inputType: "DATE"},
            { title: "违法事实照片上传",name: "punishAttachment", inputType: "ATTACHMENT", fileName: "punishAttachmentFiles", maxFileCount: 5 }
        ]
    };

    $(function() {
        type = $("#type").val();
   /*     var html = generateHtml(options);
        $(".content").html(html);*/
        $("#reply_btn").click(function () {
            window.location = "/credit/daily/operation/wjs/"+type;
        });
        //$.initComponment($(".content"));
        var model = new tonto.Model("model", options.columns, {
            pattern:"edit",
            extraParam:{
                'targetType':type
            },
            successCallback:function(){
                $.successAlert("保存成功",function(){
                    window.location = "/credit/daily/operation/wjs/"+type;
                });
            }
        });
        model.setData(null);
        //$("#scoreItem").trigger("change")
    });

    function changeScoreInput() {
        let $scoreItem = $("select[name = 'ruleName'] option:selected");
        let item = $scoreItem.text();
        let score = $scoreItem.val();
        $("#score").val(score);
        $("#item").val(item);
    }
</script>
</body>

</html>