<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/credit/header" />

<body>
<tt:constant enumcode="selection-grade-type,item-target-type,sex-type,administrative-status-type,administrative-target-type,information-usage-scope,identification-type,punishment-type,dishonesty-degree-type,wjs-info-entry-type"/>
<section class="content-header">
    <h1 th:text="|${targetType == '1' ? '医疗机构' : (targetType == '2' ? '医疗人员' : '医疗活动相关人员')}-卫监所|"></h1>
    <ol class="breadcrumb">
        <li><a  th:href="@{'/credit/daily/operation/wjs/' + ${targetType}}" ><i class="fa fa-list-alt"></i>监察记录列表</a></li>
        <li class="active">评级</li>
    </ol>
</section>
<section class="content">
</section>
<input type="hidden" id="id" th:value="${id}"/>
<input type="hidden" id="targetType" th:value="${targetType}"/>
<div th:include="/credit/footer" />
<script type="text/javascript">
    var recordId,type,name;
    var agencyColumns = [
        { title: "行政相对人", name: "agencyId",  multiple: false, inputType: "SELECT-SERVER", url: "/credit/permission/agency/lower",editable:false},
        { title: "信息录入种类", name: "infoEntryType", inputType: "SELECT" ,enum:"wjs-info-entry-type",editable:false },
        { title: "监察项目", name: "item", required: "required",colspan:2, inputType: "TEXT",editable:false },
        { title: "统一社会信用代码", name: "socialCreditCode",  inputType: "TEXT" , required: "required",dependency:["infoEntryType","1"],editable:false },
        { title: "法定代表人", name: "chargePerson",  inputType: "TEXT" , required: "required",dependency:["infoEntryType","1"],editable:false },
        { title: "证件类型", name: "identificationType", required: "required", inputType: "SELECT" ,enum:"identification-type",dependency:["infoEntryType","1"],editable:false },
        { title: "证件号码", name: "identificationNo", required: "required", inputType: "TEXT",dependency:["infoEntryType","1"],editable:false },
        { title: "处罚名称", name: "punishmentName", required: "required", inputType: "TEXT" ,colspan:2 ,dependency:["infoEntryType","1"],editable:false },
        { title: "处罚案由", name: "punishmentCase", required: "required", multiple: false, colspan:2 ,inputType: "SELECT-SERVER", url: "/credit/org/punishment/rules/manage/lower", dependency:["infoEntryType","1"],editable:false },
        { title: "处罚理由", name: "punishmentReason", required: "required",colspan:2, inputType: "TEXT" ,dependency:["infoEntryType","1"],editable:false },
        { title: "处罚依据", name: "punishmentBasis", required: "required", inputType: "TEXTAREA" ,dependency:["infoEntryType","1"],editable:false },
        { title: "处罚结果", name: "punishmentResult", required: "required", inputType: "TEXTAREA" ,dependency:["infoEntryType","1"],editable:false },
        { title: "处罚文书号", name: "punishmentDocumentNumber", required: "required", inputType: "TEXT" ,dependency:["infoEntryType","1"],editable:false },
        { title: "处罚决定日期", name: "punishmentDecisionTime", required: "required", inputType: "DATE" ,dependency:["infoEntryType","1"],editable:false },
        { title: "处罚机构", name: "punishmentOrganization", required: "required", inputType: "TEXT" ,dependency:["infoEntryType","1"],editable:false },
        { title: "处罚类型1", name: "punishmentTypeOne", required: "required", inputType: "SELECT",enum:"punishment-type" ,dependency:["infoEntryType","1"],editable:false },
        { title: "处罚类型2", name: "punishmentTypeTwo", inputType: "SELECT",enum:"punishment-type" ,dependency:["infoEntryType","1"],editable:false },
        { title: "信息使用范围", name: "informationUsageScope", required: "required", inputType: "SELECT" ,enum:"information-usage-scope",dependency:["infoEntryType","1"],editable:false },
        { title: "失信严重程度", name: "dishonestyDegree", required: "required", inputType: "SELECT",enum:"dishonesty-degree-type" ,dependency:["infoEntryType","1"] ,editable:false },
        { title: "状态", name: "punishmentStatus", required: "required", inputType: "SELECT",enum:"administrative-status-type" ,dependency:["infoEntryType","1"] ,editable:false },
        { title: "处罚决定书上传",name: "punishAttachment", inputType: "ATTACHMENT", fileName: "punishAttachmentFile", maxFileCount: 5 , allowedFileExtensions: ["jpeg", "jpg", "png",  "pdf"],dependency:["infoEntryType","1"],editable:false },
        { title: "记分通知书编号", name: "scoreNotificationNumber", required: "required", inputType: "TEXT" ,dependency:["infoEntryType","2"],editable:false },
        { title: "记分日期", name: "scoreTime", required: "required", inputType: "DATE" ,dependency:["infoEntryType","2"],editable:false },
        { title: "记分案由", name: "scoreCase", required: "required", inputType: "TEXT" ,colspan:2 ,dependency:["infoEntryType","2"],editable:false },
        { title: "记分依据", name: "scoreBasis",inputType: "TEXTAREA" ,dependency:["infoEntryType","2"],editable:false },
        { title: "扣除分值", name: "score", inputType: "NUMBER" ,dependency:["infoEntryType","2"],editable:false , unit:"分"},
        { title: "记分结果", name: "scoreResult", required: "required", inputType: "TEXTAREA" ,dependency:["infoEntryType","2"],editable:false },
        { title: "扣分决定书照片上传",name: "scoreAttachment", inputType: "ATTACHMENT", fileName: "scoreAttachmentFile", maxFileCount: 5 , allowedFileExtensions: ["jpeg", "jpg", "png",  "pdf"],dependency:["infoEntryType","2"],editable:false },
        { title: "监察结果评级",name: "resultGrade", inputType: "RADIO" ,colspan:2,enum: "selection-grade-type"}
    ];
    var personnelInSystemColumns = [
        {
            title: "行政相对人",
            name: "personnelId",
            inputType: "SELECT-TREE-SERVER",
            idField:'id',
            url: "/credit/permission/people/lower",
            selectDataFilter:function (column, data) {
                let peoples = data.people;
                let agencies = data.agency;
                if(agencies) {
                    agencies.filter(function (item) {
                        item.isAgency = true;
                    });
                }
                let newData;
                newData = agencies.filter(function (father) {
                    let children = peoples.filter(function (child) {
                        return father.uniqueCode === child.uniqueCode
                    });
                    if (children.length > 0) {
                        father.children = children;
                    }
                    return father.uniqueCode != null;
                });
                return newData;
            },
            selectedHandler:function(column, data){
                return (data && data.data.isAgency === true)?false:true;
            },editable:false
        },
        { title: "信息录入种类", name: "infoEntryType", inputType: "SELECT" ,enum:"wjs-info-entry-type",editable:false },
        { title: "监察项目", name: "item", required: "required",colspan:2, inputType: "TEXT",editable:false },
        { title: "证件类型", name: "identificationType", required: "required", inputType: "SELECT" ,enum:"identification-type",dependency:["infoEntryType","1"],editable:false },
        { title: "证件号码", name: "identificationNo", required: "required", inputType: "TEXT",dependency:["infoEntryType","1"],editable:false },
        { title: "处罚名称", name: "punishmentName", required: "required", inputType: "TEXT" ,colspan:2 ,dependency:["infoEntryType","1"],editable:false },
        { title: "处罚案由", name: "punishmentCase", required: "required", multiple: false, colspan:2 ,inputType: "SELECT-SERVER", url: "/credit/org/punishment/rules/manage/lower", dependency:["infoEntryType","1"],editable:false },
        { title: "处罚理由", name: "punishmentReason", required: "required",colspan:2, inputType: "TEXT" ,dependency:["infoEntryType","1"],editable:false },
        { title: "处罚依据", name: "punishmentBasis", required: "required", inputType: "TEXTAREA" ,dependency:["infoEntryType","1"],editable:false },
        { title: "处罚结果", name: "punishmentResult", required: "required", inputType: "TEXTAREA" ,dependency:["infoEntryType","1"],editable:false },
        { title: "处罚文书号", name: "punishmentDocumentNumber", required: "required", inputType: "TEXT" ,dependency:["infoEntryType","1"],editable:false },
        { title: "处罚决定日期", name: "punishmentDecisionTime", required: "required", inputType: "DATE" ,dependency:["infoEntryType","1"],editable:false },
        { title: "处罚机构", name: "punishmentOrganization", required: "required", inputType: "TEXT" ,dependency:["infoEntryType","1"],editable:false },
        { title: "处罚类型1", name: "punishmentTypeOne", required: "required", inputType: "SELECT",enum:"punishment-type" ,dependency:["infoEntryType","1"],editable:false },
        { title: "处罚类型2", name: "punishmentTypeTwo", inputType: "SELECT",enum:"punishment-type" ,dependency:["infoEntryType","1"],editable:false },
        { title: "信息使用范围", name: "informationUsageScope", required: "required", inputType: "SELECT" ,enum:"information-usage-scope",dependency:["infoEntryType","1"],editable:false },
        { title: "失信严重程度", name: "dishonestyDegree", required: "required", inputType: "SELECT",enum:"dishonesty-degree-type" ,dependency:["infoEntryType","1"] ,editable:false },
        { title: "状态", name: "punishmentStatus", required: "required", inputType: "SELECT",enum:"administrative-status-type" ,dependency:["infoEntryType","1"] ,editable:false },
        { title: "处罚决定书上传",name: "punishAttachment", inputType: "ATTACHMENT", fileName: "punishAttachmentFile", maxFileCount: 5 , allowedFileExtensions: ["jpeg", "jpg", "png",  "pdf"],dependency:["infoEntryType","1"],editable:false },
        { title: "记分通知书编号", name: "scoreNotificationNumber", required: "required", inputType: "TEXT" ,dependency:["infoEntryType","2"],editable:false },
        { title: "记分日期", name: "scoreTime", required: "required", inputType: "DATE" ,dependency:["infoEntryType","2"],editable:false },
        { title: "记分案由", name: "scoreCase", required: "required", inputType: "TEXT" ,colspan:2 ,dependency:["infoEntryType","2"],editable:false },
        { title: "记分依据", name: "scoreBasis",inputType: "TEXTAREA" ,dependency:["infoEntryType","2"],editable:false },
        { title: "扣除分值", name: "score", inputType: "NUMBER" ,dependency:["infoEntryType","2"],editable:false , unit:"分"},
        { title: "记分结果", name: "scoreResult", required: "required", inputType: "TEXTAREA" ,dependency:["infoEntryType","2"],editable:false },
        { title: "扣分决定书照片上传",name: "scoreAttachment", inputType: "ATTACHMENT", fileName: "scoreAttachmentFile", maxFileCount: 5 , allowedFileExtensions: ["jpeg", "jpg", "png",  "pdf"],dependency:["infoEntryType","2"],editable:false },
        { title: "监察结果评级",name: "resultGrade", inputType: "RADIO" ,colspan:2, enum: "selection-grade-type" }
    ];

    var personnelOutSystemColumns = [
        { title: "监察项目", name: "item", required: "required",colspan:2, inputType: "TEXT",editable:false },
        { title: "信息录入种类", name: "infoEntryType", inputType: "SELECT" ,enum:"wjs-info-entry-type",editable:false },
        { title: "人员姓名", name: "personnelName", inputType: "TEXT" ,editable:false},
        { title: "人员性别", name: "personnelSex", inputType: "RADIO", enum: "sex-type" ,editable:false},
        { title: "人员身份证", name: "personnelIdentification", inputType: "TEXT" ,editable:false},
        { title: "人员地址", name: "personnelAddress", inputType: "TEXT" ,editable:false},
        { title: "处罚名称", name: "punishmentName", required: "required", inputType: "TEXT" ,colspan:2 ,dependency:["infoEntryType","1"],editable:false },
        { title: "处罚案由", name: "punishmentCase", required: "required", multiple: false, colspan:2 ,inputType: "SELECT-SERVER", url: "/credit/org/punishment/rules/manage/lower", dependency:["infoEntryType","1"],editable:false },
        { title: "处罚理由", name: "punishmentReason", required: "required",colspan:2, inputType: "TEXT" ,dependency:["infoEntryType","1"],editable:false },
        { title: "处罚依据", name: "punishmentBasis", required: "required", inputType: "TEXTAREA" ,dependency:["infoEntryType","1"],editable:false },
        { title: "处罚结果", name: "punishmentResult", required: "required", inputType: "TEXTAREA" ,dependency:["infoEntryType","1"],editable:false },
        { title: "处罚文书号", name: "punishmentDocumentNumber", required: "required", inputType: "TEXT" ,dependency:["infoEntryType","1"],editable:false },
        { title: "处罚决定日期", name: "punishmentDecisionTime", required: "required", inputType: "DATE" ,dependency:["infoEntryType","1"],editable:false },
        { title: "处罚机构", name: "punishmentOrganization", required: "required", inputType: "TEXT" ,dependency:["infoEntryType","1"],editable:false },
        { title: "处罚类型1", name: "punishmentTypeOne", required: "required", inputType: "SELECT",enum:"punishment-type" ,dependency:["infoEntryType","1"],editable:false },
        { title: "处罚类型2", name: "punishmentTypeTwo", inputType: "SELECT",enum:"punishment-type" ,dependency:["infoEntryType","1"],editable:false },
        { title: "信息使用范围", name: "informationUsageScope", required: "required", inputType: "SELECT" ,enum:"information-usage-scope",dependency:["infoEntryType","1"],editable:false },
        { title: "失信严重程度", name: "dishonestyDegree", required: "required", inputType: "SELECT",enum:"dishonesty-degree-type" ,dependency:["infoEntryType","1"] ,editable:false },
        { title: "状态", name: "punishmentStatus", required: "required", inputType: "SELECT",enum:"administrative-status-type" ,dependency:["infoEntryType","1"] ,editable:false },
        { title: "处罚决定书上传",name: "punishAttachment", inputType: "ATTACHMENT", fileName: "punishAttachmentFile", maxFileCount: 5 , allowedFileExtensions: ["jpeg", "jpg", "png",  "pdf"],dependency:["infoEntryType","1"],editable:false },
        { title: "记分通知书编号", name: "scoreNotificationNumber", required: "required", inputType: "TEXT" ,dependency:["infoEntryType","2"],editable:false },
        { title: "记分日期", name: "scoreTime", required: "required", inputType: "DATE" ,dependency:["infoEntryType","2"],editable:false },
        { title: "记分案由", name: "scoreCase", required: "required", inputType: "TEXT" ,colspan:2 ,dependency:["infoEntryType","2"],editable:false },
        { title: "记分依据", name: "scoreBasis",inputType: "TEXTAREA" ,dependency:["infoEntryType","2"],editable:false },
        { title: "扣除分值", name: "score", inputType: "NUMBER" ,dependency:["infoEntryType","2"],editable:false , unit:"分"},
        { title: "记分结果", name: "scoreResult", required: "required", inputType: "TEXTAREA" ,dependency:["infoEntryType","2"],editable:false },
        { title: "扣分决定书照片上传",name: "scoreAttachment", inputType: "ATTACHMENT", fileName: "scoreAttachmentFile", maxFileCount: 5 , allowedFileExtensions: ["jpeg", "jpg", "png",  "pdf"],dependency:["infoEntryType","2"],editable:false },
        { title: "监察结果评级",name: "resultGrade", inputType: "RADIO" ,colspan:2, enum: "selection-grade-type" }
    ];
    $(function () {
        recordId = $("#id").val();
        type = $("#targetType").val();
        name = $("#name").val();
        var columns = type == 1 ? agencyColumns : (type == 2 ? personnelInSystemColumns : personnelOutSystemColumns);
        var options = {
            id: "model",
            name: "监察评级",
            url:"/credit/supervise/record/grade/save",
            columns: columns,
            cancelBtn: false,
            formButtonBar:[{
                id:  'reply_btn',
                type: 'button',
                name:  '返回',
                class: 'btn btn-default btn-block',
                order: 2
            }],
        };
        var html = generateEditHtml(options);
        $(".content").html(html);
        $("#reply_btn").click(function () {
            window.location = '/credit/daily/operation/wjs/'+type;
        });
        $.initComponment($(".content"));
        $.getAjax("/credit/supervise/record/get?id=" + recordId, function (data) {
            var model = new tonto.Model("model", options.columns,{
                pattern:"edit",
                extraParam:{
                    id: recordId,
                },
                successCallback:function(){
                    $.successAlert("评级成功",function(){
                        window.location = '/credit/daily/operation/wjs/'+type;
                    });
                }
            });
            model.setData(data);
        });
    });

    function gradeSave() {
        let resultGrade = $("input:radio[name='resultGrade']:checked").val();
        if (resultGrade == 0) {
            $.errorMessage("请选择正确的评价等级");
            return;
        }
        $.postAjax("/credit/supervise/record/grade/save", {
            id: recordId,
            grade: resultGrade
        }, function() {
            $.successAlert("评级成功", function() {
                window.location = '/credit/daily/operation/wjs/'+type;
            });
        });
    }
</script>
</body>

</html>