<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.credit.mapper.org.OrgPersonnelMapper">
    <select id="searchName" resultType="com.paladin.credit.service.org.vo.OrgPersonnelVO">
     SELECT
	  id,
	  `name`
     FROM
	  org_personnel
	  limit 0,20
    </select>
</mapper>
