<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.credit.mapper.org.OrgPersonnelMapper">
    <select id="searchName" resultType="com.paladin.credit.service.org.vo.OrgPersonnelVO">
     SELECT
	  id,
	  `name`
     FROM
	  org_personnel
	  limit 0,20
    </select>
    <select id="searchPeoplePage" resultType="com.paladin.credit.service.org.vo.OrgPersonnelVO">
   SELECT
	p.id,
	p.identification_type AS identificationType,
	p.identification_no AS identificationNo,
	p.`name`,
	p.sex,
	p.cellphone,
	p.nation,
	p.join_party_time AS joinPartyTime,
	p.agency_name AS agencyName,
	p.political_affiliation AS politicalAffiliation,
	p.birthday
	FROM
	org_personnel AS p
	WHERE p.is_delete = 0
	<if test="query.name != null and query.name != ''">
		AND  p.name LIKE  CONCAT('%',#{query.name} ,'%')
	</if>
	ORDER BY  p.create_time DESC
    </select>
    <select id="searchMangePeoples" resultType="com.paladin.credit.service.org.vo.OrgPersonnelSimpleVO">
		   SELECT
	p.id,
	p.identification_no AS identificationNo,
	p.`name`,
	p.agency_name AS agencyName,
	p.agency_id as uniqueCode
	FROM
	org_personnel AS p
	WHERE  p.agency_id in
	<foreach collection="codes" item="code" open="(" close=")" index="index" separator=",">
		#{code}
	</foreach>
	</select>
</mapper>
