<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.credit.mapper.org.OrgPersonnelAgencyMapper">
    <select id="findPageList" resultType="com.paladin.credit.service.org.vo.OrgPersonnelAgencyVO">
        SELECT
        id,
        `name`,
        account,
        agencyId,
        agencyName
        FROM
        (
        SELECT
        a.id,
        a.`name`,
        a.account,
        b.id AS agencyId,
        b.`name` AS agencyName
        FROM
        org_personnel_agency a
        LEFT JOIN org_agency b ON a.agency_id = b.id
        WHERE
        b.is_delete = 0
        OR b.id IS NULL
        ) temp
        WHERE 1 = 1
        <if test="query.name != null">
            AND temp.name LIKE CONCAT('%',#{query.name} ,'%')
        </if>
    </select>
</mapper>
