<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.credit.mapper.supervise.SuperviseRecordMapper">

    <select id="searchAgencyReportsByQuery"
            resultType="com.paladin.credit.service.supervise.vo.SuperviseRecordReportVO">
        SELECT
        agencyName,agencyId,grade1,grade2,grade3,grade4,grade5,mgrade
        FROM
        (
        SELECT
        a.`name` AS agencyName,
        a.id AS agencyId,
        Count( r.result_grade = 1 OR NULL ) AS grade1,
        Count( r.result_grade = 2 OR NULL ) AS grade2,
        Count( r.result_grade = 3 OR NULL ) AS grade3,
        Count( r.result_grade = 4 OR NULL ) AS grade4,
        Count( r.result_grade = 5 OR NULL ) AS grade5
        FROM
        supervise_record AS r
        LEFT JOIN org_agency AS a ON r.agency_id = a.id
        WHERE
        a.is_delete = 0
        <if test="query.agencyName != null and query.agencyName != ''">
            AND  a.name LIKE  CONCAT('%',#{query.agencyName},'%')
        </if>
        GROUP BY
        r.agency_id
        ) a
        INNER JOIN (
        SELECT
        s.agency_id,
        MAX( s.result_grade ) AS mgrade
        FROM
        supervise_agency_record AS s
        INNER JOIN ( SELECT create_time AS time, agency_id FROM supervise_agency_record ORDER BY create_time DESC LIMIT 0, 1 ) AS latelyTime ON latelyTime.agency_id = s.agency_id
        WHERE
        s.create_time  <![CDATA[<=]]> CURRENT_DATE ( ) AND DATE_FORMAT( s.create_time, '%Y-%m' ) >=
        IF
        (
        TIMESTAMPDIFF( MONTH, DATE_SUB( CURRENT_DATE ( ), INTERVAL 1 YEAR ), latelyTime.time ) > 0,
        DATE_FORMAT( latelyTime.time, '%Y-%m' ),
        DATE_SUB( CURRENT_DATE ( ), INTERVAL 1 YEAR )
        )
        GROUP BY
        s.agency_id
        ) b ON a.agencyId = b.agency_id
    </select>
    <select id="searchReportDetailByQuery" resultType="com.paladin.credit.service.supervise.vo.SuperviseRecordVO">
		SELECT
		a.`name` AS agencyName,
		s.result_name AS resultName,
		s.result_grade AS resultGrade,
		s.item,
		s.create_time AS createTime
		FROM
		supervise_record AS s
		LEFT JOIN org_agency AS a ON s.agency_id = a.id
		WHERE a.is_delete = 0
		<if test="agencyId != null">
			AND a.id = #{agencyId}
		</if>
		<if test="grade != null">
			AND s.result_grade = #{grade}
		</if>
    </select>
    <select id="searchAgencyReportsOrgByQuery"
            resultType="com.paladin.credit.service.supervise.vo.SuperviseRecordReportOrgVO">
        SELECT
        resultGrade,
        a.name as agencyName,
        a.social_credit_code as socialCreditCode,
        a.address as address,
        a.charge_person as chargePerson,
        a.contact_way as contactWay,
        a.agency_type as agencyType,
        a.register_time as registerTime,
        a.business_scope as businessScope
        FROM
        (
        SELECT
        MAX(result_grade) AS resultGrade,
        agency_id
        FROM
        supervise_record
        WHERE
        create_time BETWEEN DATE_SUB(NOW(), INTERVAL 1 YEAR)
        AND  NOW()
        GROUP BY
        agency_id
        ) AS r
        LEFT JOIN org_agency AS a ON r.agency_id = a.id
        WHERE
        a.is_delete = 0
        <if test="query.resultGrade != null">
            AND resultGrade = #{query.resultGrade}
        </if>
        order by resultGrade
    </select>
</mapper>
