<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.credit.mapper.supervise.SuperviseRecordMapper">

    <select id="searchAgencyReportsByQuery"
            resultType="com.paladin.credit.service.supervise.vo.SuperviseRecordReportVO">
        SELECT
        d.name AS agencyName,d.id AS agencyId,mgrade,bgtime,endtime,grade1,grade2,grade3,grade4,grade5
        FROM
        (
        SELECT
        a.agency_id,
        max( a.result_grade ) AS mgrade,
        IF
        (
        TIMESTAMPDIFF( DAY, DATE_SUB( NOW( ), INTERVAL 1 YEAR ), b.time ) > 0,
        b.time,
        DATE_SUB( NOW( ), INTERVAL 1 YEAR )
        ) AS bgtime,
        NOW( ) AS endtime,
        Count( a.result_grade = 1 OR NULL ) AS grade1,
        Count( a.result_grade = 2 OR NULL ) AS grade2,
        Count( a.result_grade = 3 OR NULL ) AS grade3,
        Count( a.result_grade = 4 OR NULL ) AS grade4,
        Count( a.result_grade = 5 OR NULL ) AS grade5
        FROM
        supervise_record a
        INNER JOIN ( SELECT MIN(create_time)  AS time  , agency_id AS b_agencyId  FROM supervise_record  GROUP BY agency_id ) b ON a.agency_id = b.b_agencyId
        WHERE
        a.create_time  <![CDATA[<]]> NOW( ) AND a.create_time >=
        IF
        (
        TIMESTAMPDIFF( DAY, DATE_SUB( NOW( ), INTERVAL 1 YEAR ), b.time ) > 0,
        b.time,
        DATE_SUB( NOW( ), INTERVAL 1 YEAR )
        )
        GROUP BY
        a.agency_id
        ) c
        INNER JOIN org_agency d ON c.agency_id = d.id
        WHERE
        d.is_delete = 0
        <if test="query.agencyName != null and query.agencyName != ''">
            AND   d.name LIKE  CONCAT('%',#{query.agencyName},'%')
        </if>
    </select>
    <select id="searchReportDetailByQuery" resultType="com.paladin.credit.service.supervise.vo.SuperviseRecordVO">
		SELECT
		a.`name` AS agencyName,
		s.result_name AS resultName,
		s.result_grade AS resultGrade,
		s.item,
		s.create_time AS createTime
		FROM
		supervise_record AS s
		LEFT JOIN org_agency AS a ON s.agency_id = a.id
		WHERE a.is_delete = 0
		<if test="agencyId != null">
			AND a.id = #{agencyId}
		</if>
		<if test="grade != null">
			AND s.result_grade = #{grade}
		</if>
    </select>
    <select id="searchAgencyReportsOrgByQuery"
            resultType="com.paladin.credit.service.supervise.vo.SuperviseRecordReportOrgVO">
        SELECT
        resultGrade,
        a.name as agencyName,
        a.social_credit_code as socialCreditCode,
        a.address as address,
        a.charge_person as chargePerson,
        a.contact_way as contactWay,
        a.agency_type as agencyType,
        a.register_time as registerTime,
        a.business_scope as businessScope
        FROM ( SELECT
        MAX(result_grade) AS resultGrade,
        agency_id
        FROM
        supervise_record
        INNER JOIN ( SELECT MIN(create_time) AS min_time FROM supervise_record ) AS b
        WHERE
        create_time >
        IF (
        b.min_time &lt; DATE_SUB(NOW(), INTERVAL 1 YEAR),
        DATE_SUB(NOW(), INTERVAL 1 YEAR),
        b.min_time
        )
        AND create_time &lt; NOW()
        GROUP BY
        agency_id
        ) AS r
        LEFT JOIN org_agency AS a ON r.agency_id = a.id
        WHERE
        a.is_delete = 0
        <if test="query.resultGrade != null">
            AND resultGrade = #{query.resultGrade}
        </if>
        order by resultGrade
    </select>
    <select id="searchSuperviseRecordsPageByQuery"
            resultType="com.paladin.credit.service.supervise.vo.SuperviseRecordSimpleVO">
        SELECT
        r.id,
        r.target_type AS targetType,
        r.personnel_name AS relatedPersonnelName,
        r.item,
        r.result_name AS resultName,
        r.result_grade AS resultGrade,
        a.`name` AS agencyName,
        p.`name` AS personnelName
        FROM
        supervise_record AS r
        LEFT JOIN org_agency AS a ON r.agency_id = a.id
        LEFT JOIN org_personnel AS p ON r.personnel_id = p.id
        WHERE 1 = 1
        <if test="query.item != null and query.item != ''">
            AND r.item LIKE CONCAT('%',#{query.item},'%')
        </if>
        <if test="query.targetType != null">
            AND r.target_type = #{query.targetType}
        </if>
        <if test="param1.resultGrade != null">
            AND r.result_grade = #{query.resultGrade}
        </if>
        <if test="query.agencyName != null and query.agencyName != ''">
            AND a.name LIKE CONCAT('%',#{query.agencyName},'%')
        </if>
        <if test="query.personnelName != null and query.personnelName != ''">
            AND p.name LIKE CONCAT('%',#{query.personnelName},'%')
        </if>
        <if test="query.relatedPersonnelName != null and query.relatedPersonnelName != ''">
            AND r.personnel_name LIKE CONCAT('%',#{query.relatedPersonnelName},'%')
        </if>
         <if test="param1.bgTime != null">
             AND  r.create_time  >=  #{query.bgTime}
         </if>
          <if test="query.endTime != null" >
              AND  r.create_time <![CDATA[<=]]> #{query.endTime}
          </if>
    </select>
</mapper>
