<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.credit.mapper.supervise.SuperviseRecordMapper">

    <select id="searchAgencyReportsByQuery"
            resultType="com.paladin.credit.service.supervise.vo.SuperviseRecordReportVO">
        SELECT
        d.name AS agencyName,d.id AS agencyId,mgrade,bgtime,endtime,grade1,grade2,grade3,grade4,grade5
        FROM
        (
        SELECT
        a.agency_id,
        max( a.result_grade ) AS mgrade,
        IF
        (
        TIMESTAMPDIFF( DAY, DATE_SUB( current_date(), INTERVAL 1 YEAR ), b.time ) > 0,
        b.time,
        DATE_SUB( current_date(), INTERVAL 1 YEAR )
        ) AS bgtime,
        current_date() AS endtime,
        Count( a.result_grade = 1 OR NULL ) AS grade1,
        Count( a.result_grade = 2 OR NULL ) AS grade2,
        Count( a.result_grade = 3 OR NULL ) AS grade3,
        Count( a.result_grade = 4 OR NULL ) AS grade4,
        Count( a.result_grade = 5 OR NULL ) AS grade5
        FROM
        supervise_record a
        INNER JOIN ( SELECT MIN(create_time) AS time , agency_id AS b_agencyId FROM supervise_record WHERE `status` = 1
        AND target_type = 1 GROUP BY agency_id ) b ON a.agency_id = b.b_agencyId
        WHERE a.`status` = 1 AND
        a.create_time  <![CDATA[<]]> current_date() AND a.create_time >=
        IF
        (
        TIMESTAMPDIFF( DAY, DATE_SUB( current_date(), INTERVAL 1 YEAR ), b.time ) > 0,
        b.time,
        DATE_SUB( current_date(), INTERVAL 1 YEAR )
        )
        GROUP BY
        a.agency_id
        ) c
        INNER JOIN org_agency d ON c.agency_id = d.id
        WHERE
        d.is_delete = 0
        <if test="query.agencyName != null and query.agencyName != ''">
            AND d.name LIKE CONCAT('%',#{query.agencyName},'%')
        </if>
    </select>
    <select id="searchReportDetailByQuery" resultType="com.paladin.credit.service.supervise.vo.SuperviseRecordVO">
        SELECT
        a.`name` AS agencyName,
        s.result_name AS item,
        s.result_grade AS resultGrade,
        s.item,
        s.create_time AS createTime
        FROM
        supervise_record AS s
        LEFT JOIN org_agency AS a ON s.agency_id = a.id
        WHERE a.is_delete = 0
        <if test="agencyId != null">
            AND a.id = #{agencyId}
        </if>
        <if test="grade != null">
            AND s.result_grade = #{grade}
        </if>
    </select>
    <select id="searchAgencyReportsOrgByQuery"
            resultType="com.paladin.credit.service.supervise.vo.SuperviseRecordReportOrgVO">
        SELECT
        resultGrade,
        a.name as agencyName,
        a.social_credit_code as socialCreditCode,
        a.address as address,
        a.charge_person as chargePerson,
        a.contact_way as contactWay,
        a.agency_type as agencyType,
        a.register_time as registerTime,
        a.business_scope as businessScope,
        a.agency_coordinate as agencyCoordinate
        FROM
        (
        SELECT
        MAX(result_grade) AS resultGrade,
        agency_id AS eId
        FROM
        supervise_record AS e
        INNER JOIN (
        SELECT
        MIN(create_time) AS min_time,
        agency_id AS cId
        FROM
        supervise_record c
        WHERE `status` = 1
        AND target_type = 1
        GROUP BY
        agency_id
        ) AS b on e.agency_id = b.cId
        WHERE
        `status` = 1
        AND
        create_time >=
        IF (
        b.min_time &lt; DATE_SUB(CURDATE(), INTERVAL 1 YEAR),
        DATE_SUB(CURDATE(), INTERVAL 1 YEAR),
        b.min_time
        )
        AND create_time &lt; CURDATE()
        GROUP BY
        e.agency_id
        ) AS r
        LEFT JOIN org_agency AS a ON r.eId = a.id
        WHERE
        a.is_delete = 0
        <if test="query.resultGrade != null">
            AND resultGrade = #{query.resultGrade}
        </if>
        order by resultGrade
    </select>
    <select id="searchSuperviseRecordsByQuery"
            resultType="com.paladin.credit.service.supervise.vo.SuperviseRecordSimpleVO">
        SELECT
        r.id,
        r.target_type AS targetType,
        r.personnel_name AS relatedPersonnelName,
        r.item,
        r.code,
        r.status,
        r.is_wjs AS isWjs,
        r.result_name AS item,
        r.result_grade AS resultGrade,
        a.`name` AS agencyName,
        p.`name` AS personnelName
        FROM
        supervise_record AS r
        LEFT JOIN org_agency AS a ON r.agency_id = a.id
        LEFT JOIN org_personnel AS p ON r.personnel_id = p.id
        WHERE 1 = 1
        <if test="query.item != null and query.item != ''">
            AND r.item LIKE CONCAT('%',#{query.item},'%')
        </if>
        <if test="query.targetType != null">
            AND r.target_type = #{query.targetType}
        </if>
        <if test="param1.resultGrade != null">
            AND r.result_grade = #{query.resultGrade}
        </if>
        <if test="query.agencyName != null and query.agencyName != ''">
            AND a.name LIKE CONCAT('%',#{query.agencyName},'%')
        </if>
        <if test="query.agencyId != null">
            AND a.id = #{query.agencyId}
        </if>
        <if test="query.personnelName != null and query.personnelName != ''">
            AND p.name LIKE CONCAT('%',#{query.personnelName},'%')
        </if>
        <if test="query.relatedPersonnelName != null and query.relatedPersonnelName != ''">
            AND r.personnel_name LIKE CONCAT('%',#{query.relatedPersonnelName},'%')
        </if>
        <if test="param1.bgTime != null">
            AND r.create_time >= #{query.bgTime}
        </if>
        <if test="query.endTime != null">
            AND r.create_time <![CDATA[<=]]> #{query.endTime}
        </if>
        <if test="query.status != null">
            AND r.status = #{query.status}
        </if>
        <if test="query.isWjs != null">
            AND r.is_wjs = #{query.isWjs}
        </if>
        <if test="query.code != null">
            AND r.code = #{query.code}
        </if>
    </select>
    <update id="updateRecordById">
        UPDATE supervise_record SET  status = #{status} , update_time = now(),illustrate = #{illustrate}  WHERE  status = 0 AND  id = #{id}
    </update>
    <update id="updateGradeById">
         UPDATE supervise_record SET  result_grade = #{grade} ,update_time = now() ,status = 1  WHERE  status = 0 AND  id = #{id} AND is_wjs = 1
    </update>
    <update id="updateRecordCheckStatusById">
        UPDATE supervise_record
        SET
        status = 0
        <if test="resultName==null">
            ,result_grade = 0
        </if>
        WHERE status > 0 AND id = #{id} and CURDATE() &lt; DATE_FORMAT((date_add(update_time, interval 1
        day)),'%Y-%m-%d')
    </update>
    <select id="countRecordEventGradeByDate"
            resultType="com.paladin.credit.service.supervise.vo.SuperviseRecordReportVO">
        SELECT
        Count( a.result_grade = 1 OR NULL ) AS grade1,
        Count( a.result_grade = 2 OR NULL ) AS grade2,
        Count( a.result_grade = 3 OR NULL ) AS grade3,
        Count( a.result_grade = 4 OR NULL ) AS grade4,
        Count( a.result_grade = 5 OR NULL ) AS grade5
        FROM
        supervise_record a
        INNER JOIN ( SELECT MIN( create_time ) AS time, agency_id AS b_agencyId FROM supervise_record WHERE `status` = 1
        AND target_type = 1 GROUP BY agency_id ) b ON a.agency_id = b.b_agencyId
        WHERE
        a.`status` = 1
        AND a.create_time <![CDATA[<]]> CURRENT_DATE ( ) AND a.create_time >=
        IF
        (
        TIMESTAMPDIFF( DAY, DATE_SUB( CURRENT_DATE ( ), INTERVAL 1 YEAR ), b.time ) > 0,
        b.time,
        DATE_SUB( CURRENT_DATE ( ), INTERVAL 1 YEAR )
        )
        <if test="bgTime != null">
            AND date_format(a.create_time,'%Y-%m-%d') >= #{bgTime}
        </if>
        <if test="endTime != null">
            AND date_format(a.create_time,'%Y-%m-%d') <![CDATA[<=]]>#{endTime}
        </if>
    </select>
    <select id="countRecordOrgCreditByDate"
            resultType="com.paladin.credit.service.supervise.vo.SuperviseRecordReportVO">
        SELECT
        Count( c.mgrade = 1 OR NULL ) AS grade1,
        Count( c.mgrade = 2 OR NULL ) AS grade2,
        Count( c.mgrade = 3 OR NULL ) AS grade3,
        Count( c.mgrade = 4 OR NULL ) AS grade4,
        Count( c.mgrade = 5 OR NULL ) AS grade5
        FROM
        (
        SELECT
        max( a.result_grade ) AS mgrade,
        IF
        (
        TIMESTAMPDIFF( DAY, DATE_SUB( CURRENT_DATE ( ), INTERVAL 1 YEAR ), b.time ) > 0,
        b.time,
        DATE_SUB( CURRENT_DATE ( ), INTERVAL 1 YEAR )
        ) AS bgtime
        FROM
        supervise_record a
        INNER JOIN ( SELECT MIN( create_time ) AS time, agency_id AS b_agencyId FROM supervise_record WHERE `status` = 1
        AND target_type = 1 GROUP BY agency_id ) b ON a.agency_id = b.b_agencyId
        WHERE
        a.`status` = 1
        AND a.create_time <![CDATA[<]]> CURRENT_DATE ( ) AND a.create_time >=
        IF
        (
        TIMESTAMPDIFF( DAY, DATE_SUB( CURRENT_DATE ( ), INTERVAL 1 YEAR ), b.time ) > 0,
        b.time,
        DATE_SUB( CURRENT_DATE ( ), INTERVAL 1 YEAR )
        )
        <if test="bgTime != null">
            AND date_format(a.create_time,'%Y-%m-%d') >= #{bgTime}
        </if>
        <if test="endTime != null">
            AND date_format(a.create_time,'%Y-%m-%d') <![CDATA[<=]]>#{endTime}
        </if>
        GROUP BY
        a.agency_id
        ) c
    </select>
    <select id="findAllOrgMap"
            resultType="com.paladin.credit.service.supervise.vo.SuperviseRecordOrgMapVO">
        SELECT
        r.eId AS agencyId,
        grade,
        a. NAME AS agencyName,
        a.agency_coordinate AS agencyCoordinate
        FROM
        (
        SELECT
        MAX(result_grade) AS grade,
        agency_id AS eId
        FROM
        supervise_record AS e
        INNER JOIN (
        SELECT
        MIN(create_time) AS min_time,
        agency_id AS cId
        FROM
        supervise_record c
        WHERE
        `status` = 1
        AND target_type = 1
        GROUP BY
        agency_id
        ) AS b ON e.agency_id = b.cId
        WHERE
        `status` = 1
        AND create_time >=
        IF (
        b.min_time &lt; DATE_SUB(CURDATE(), INTERVAL 1 YEAR),
        DATE_SUB(CURDATE(), INTERVAL 1 YEAR),
        b.min_time
        )
        AND create_time &lt; CURDATE()
        GROUP BY
        e.agency_id
        ) AS r
        LEFT JOIN org_agency AS a ON r.eId = a.id
        WHERE
        a.is_delete = 0
        ORDER BY
        grade
    </select>
    <select id="findMapOrgInfoById"
            resultType="com.paladin.credit.service.supervise.vo.SuperviseRecordOrgMapVO">
        SELECT
        item,
        result_grade AS resultGrade
        FROM
        supervise_record
        WHERE
        agency_id IS NOT NULL
        AND `status` = 1
        AND agency_id = #{agencyId}
        ORDER BY
        create_time DESC
        LIMIT 5
    </select>
</mapper>
