<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/credit/header" />
<link rel="stylesheet" href="/static/assets/ueditor/themes/default/css/ueditor.min.css" />
<link rel="stylesheet" href="/static/assets/tagsinput/bootstrap-tagsinput.css" />

<body>
    <tt:constant enumcode="publicity-message-status,publicity-message-type" />
    <input type="hidden" id="id" th:value="${id}" />
    <section class="content-header">
        <h1>信息发布</h1>
        <ol class="breadcrumb">
            <li><a href="/credit/publicity/message/index"><i class="fa fa-list-alt"></i>列表</a></li>
            <li class="active">详情</li>
        </ol>
    </section>
    <section class="content">
    </section>
    <div class="col-sm-2 col-sm-offset-5 btn-back">
        <a href="/credit/publicity/message/index" class="btn btn-primary btn-block">返回</a>
    </div>
    <div th:include="/credit/footer" />
    <script type="text/javascript" src="/static/assets/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="/static/assets/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript">
    var options = {
        id: "model",
        name: "公告详情",
        url: "/credit/publicity/message/update?id="+$("#id").val(),
        columns: [
            { title: "标题", name: "title", inputType: "TEXT", colspan: 2, required: "required" },
            { title: "类型", name: "type", inputType: "RADIO", colspan: 2,enum: "publicity-message-type", required: "required" },
            { title: "发布时间", name: "publishTime", inputType: "DATE", required: "required" },
            { title: "内容", name: "content", inputType: "EDITOR", required: "required" },
            {
                title: "附件",
                name: "attachments",
                inputType: "ATTACHMENT",
                fileName: "attachmentFiles"
            }
        ]
    };

    $(function() {
        var html = generateHtml(options);
        $(".content").html(html);
        $.initComponment($(".content"));
        $.getAjax("/credit/publicity/message/get?id=" + $("#id").val(), function(data) {
            var model = new tonto.Model("model", options.columns, {
                successCallback: function() {
                    $.successAlert("保存成功", function() {
                        window.location = "/credit/publicity/message/index";
                    });
                }
            });
            model.setData(data);
        });
    });
    </script>
</body>

</html>