<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/credit/header" />

<body>
<tt:constant enumcode="honor-level-type,assessment-result-type" />
    <section class="content-header">
        <h1 th:text="|${type == '1' ? '法人名单上报-红榜' : (type == '2' ? '法人名单上报-黑榜' : '行业评定信息上报')}|"></h1>
    </section>
    <section class="content">
        <div class="box box-solid">
            <div class="box-body">
                <form id="searchbar" class="form-horizontal form-search">
                    <input type="hidden" id="type" name="type" th:value="${type}">
                    <div class="form-group">
                        <div class="col-md-2" id="name">
                            <input name="name" class="form-control" placeholder="请输入机构名称"/>
                        </div>
                        <div class="col-md-2" id="socialCreditCode">
                            <input name="socialCreditCode" class="form-control" placeholder="请输入统一社会信用代码" />
                        </div>
                        <div class="col-md-2">
                            <input name="bgTime" placeholder="请选择录入开始时间"  autocomplete="off" type="text" class="form-control tonto-datepicker-date"  >
                        </div>
                        <div class="col-md-2">
                            <input name="endTime" placeholder="请选择录入结束时间"  autocomplete="off" type="text" class="form-control tonto-datepicker-date"  >
                        </div>
                        <div class="col-md-4">
                            <div class="pull-right">
                                <button type="button" style="width:100px" class="btn btn-primary tonto-btn-search" onclick="table.refresh()"><i class="fa fa-search"></i>查询</button>
                                <button type="button" style="width:100px" class="btn btn-default" onclick="$('#searchbar').resetSearch()"><i class="fa fa-repeat"></i>重置</button>
                            </div>
                        </div>
                    </div>
                    <!-- 表单仅有一个text-input时回车会提交表单，这里添加一个无用的防止回车提交 -->
                    <input type="text" style="display:none">
                </form>
                <input type="hidden" id="pageLimit" th:value="${query?.limit}" />
                <input type="hidden" id="pageOffset" th:value="${query?.offset}" />
            </div>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" th:text="|${type == '1' ? '法人红名单信息导入' : (type == '2' ? '法人黑名单信息导入' : '行业评定信息导入')}|"></h4>
                    </div>
                    <div class="modal-body">
                        <form id="uploadForm" enctype="multipart/form-data" method="post" th:action="${type == '1' ? '/credit/department/credit/upload/red' : (type == '2' ? '/credit/department/credit/upload/black' : '/credit/department/credit/upload/business')}" class="form-horizontal tonto-form-validate">
                            <div class="form-group" style="margin-bottom: 0">
                                <div class="col-md-10">
                                    <input id="file" name="file" type="file">
                                    <div id="errorBlock" class="help-block"></div>
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-open"></i>&nbsp;上传</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">关闭</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        <div class="box box-solid" style="margin-top:20px">
            <div id="result" class="box-body">
                <table id="dataGrid"></table>
                <div id="toolbar">
                    <div class="btn-group">
                        <a  th:if="${type == '1'}" href="/static/excel/信用办红名单法人导入模板.xlsx" class="btn bg-teal-active" target="_blank"  download = "法人红名单导入模板" ><i class="glyphicon glyphicon-download-alt"></i>&nbsp;导入模板下载</a>
                        <a  th:if="${type == '2'}" href="/static/excel/信用办黑名单法人导入模板.xlsx" class="btn bg-teal-active" target="_blank"  download = "法人黑名单导入模板" ><i class="glyphicon glyphicon-download-alt"></i>&nbsp;导入模板下载</a>
                        <a  th:if="${type == '3'}" href="/static/excel/信用办行业评定信息导入模板.xlsx" class="btn bg-teal-active" target="_blank"  download = "行业评定名单导入模板" ><i class="glyphicon glyphicon-download-alt"></i>&nbsp;导入模板下载</a>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
                            <i class="fa  fa-file-excel-o"></i>&nbsp;模板导入
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div th:include="/credit/footer" />
    <script type="text/javascript">
    var table,type;
    $(function() {
        type=$("#type").val();
        initDataGrid();
        hideColumn();
        initUploadForm();
    });

    function initDataGrid() {
        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    { title: "机构名称", field: "name" },
                    { title: "统一社会信用代码", field: "socialCreditCode" },
                    { title: "认定文号", field: "affirmWrit" },
                    { title: "评定结果", field: "assessmentResult" ,enumcode:"assessment-result-type"},
                    { title: "评定名称", field: "assessmentResultName" },
                    { title: "认定(评定)部门全称", field: "affirmDepartmentName" },
                    { title: "荣誉名称", field: "honorName" },
                    { title: "认定(评定)日期", field: "affirmTime" ,formatter: "date" },
                    { title: "法定代表人", field: "chargePerson" },
                    { title: "主要失信事实", field: "losePromiseTruth" },
                    { title: "确认严重失信时间", field: "losePromiseTime" ,formatter: "date" },
                    {
                        title: "操作",
                        align: "center",
                        width: "150px",
                        events: {
                            'click .detail': function(e, value, row, index) {
                                detail(row);
                            },
                            'click .remove': function(e, value, row, index) {
                                remove(row);
                            }
                        },
                        formatter: function operateFormatter(value, row, index) {
                            return '<button class="detail btn btn-xs btn-info" style="margin-right:10px"><i class="glyphicon glyphicon-edit"></i>详情</button>' +
                                '<button class="remove btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i>删除</button>';

                        }
                    }
                ]
            ],
            url: '/credit/department/credit/find/page',
            searchbar: '#searchbar',
            exportUrl: '/credit/department/credit/export',
            showExport: true,
            showColumns: true,
            pagination: true,
            toolbar: "#toolbar",
            showRefresh: true
        });
    }

    function hideColumn() {
        if (type == 1) {
            table.hideColumn("chargePerson");
            table.hideColumn("losePromiseTime");
            table.hideColumn("assessmentResult");
            table.hideColumn("losePromiseTruth");
            table.hideColumn("assessmentResultName");
        }
        if (type == 2) {
            table.hideColumn("assessmentResult");
            table.hideColumn("honorName");
            table.hideColumn("name");
            table.hideColumn("affirmTime");
            table.hideColumn("assessmentResultName");
        }
        if (type == 3) {
            table.hideColumn("affirmWrit");
            table.hideColumn("chargePerson");
            table.hideColumn("losePromiseTime");
            table.hideColumn("losePromiseTruth");
            table.hideColumn("honorName");
        }
    }
    function add() {
        window.location = '/credit/department/credit/add';
    }

    function detail(row) {
        window.location = '/credit/department/credit/detail' + (row ? ('?id=' + row.id+"&type="+row.type) : '');
    }

    function remove(row) {
        if (row) {
            layer.confirm('确定删除吗?', function() {
                $.getAjax('/credit/department/credit/delete?id=' + row.id, function() {
                    $.successMessage("删除成功");
                    table.refresh();
                });
            });
        }
    }

    function initUploadForm() {
        $("#file").fileinput({
            language: 'zh',
            uploadUrl: '/common/upload/files',
            layoutTemplates: {
                main1: '{preview}\n' +
                    '<div class="kv-upload-progress kv-hidden"></div><div class="clearfix"></div>\n' +
                    '<div class="input-group {class}">\n' +
                    '  {caption}\n' +
                    '  <div class="input-group-btn">\n' +
                    '    {remove}\n' +
                    '    {browse}\n' +
                    '  </div>\n' +
                    '</div>'
            },
            showPreview: false,
            msgPlaceholder: "选择上传的Excel文件",
            removeClass: "btn btn-danger",
            allowedFileExtensions: ["xlsx"]
        });
        $("#uploadForm").createForm(showImportResult);
    }

    function showImportResult(result) {
        if (result) {
            if (result.errorCount == 0) {
                $.successAlert("导入成功");
                $("#myModal").modal('hide');
                table.refresh();
            } else {
                var html = "<p>成功导入" + result.successCount + "条记录</p>";
                result.errors.forEach(function(a) {
                    html += "<p>导入第<b>" + a.index + "</b>条记录失败：" + a.message + "</p>";
                });

                $("#myModal").modal('hide');
                layer.alert(html, { icon: 5, area: ['600px', '200px'] });
            }
        } else {
            $("#myModal").modal('hide');
            $.errorAlert("没有可导入的名单，是否正确使用模板");
        }
    }

    </script>
</body>

</html>