<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/credit/header" />

<body>
<tt:constant enumcode="honor-level-type,department-credit-type,selection-grade-type,assessment-result-type" />
    <section class="content-header">
        <h1 th:text="|${type == '1' ? '法人名单上报-红榜' : (type == '2' ? '法人名单上报-黑榜' : '事业评定信息上报')}|"></h1>
            <ol class="breadcrumb">
                <li><a th:href="@{'/credit/department/credit/index/'+${type}}"><i class="fa fa-list-alt"></i>名单列表</a></li>
                <li class="active">详情</li>
            </ol>

    </section>
    <section class="content">
    </section>
    <div class="col-sm-2 col-sm-offset-5 btn-back">
    	<a th:href="@{'/credit/department/credit/index/'+${type}}" class="btn btn-primary btn-block">返回</a>
    </div>
    <input type="hidden" id="id" th:value="${id}"/>
    <div th:include="/credit/footer" />
    <script type="text/javascript">

    $(function() {
    	var options = {
	        id: "model",
	        name: "详情",
	        url:"/credit/department/credit/update?id="+$("#id").val(),
	        columns: [
				{ title: "名单类型", name: "type", inputType: "SELECT", enum:"department-credit-type" },
				{ title: "机构名称", name: "name", required: "required", inputType: "TEXT",dependency:["type","1","3"] },
				{ title: "统一社会信用代码", name: "socialCreditCode",required: "required", inputType: "TEXT" },
				{ title: "工商注册号", name: "commercialRegistrationNumber", inputType: "TEXT" },
				{ title: "组织机构代码", name: "organizationCode", inputType: "TEXT" },
                { title: "荣誉名称", name: "honorName",required: "required", inputType: "TEXT",dependency:["type","1"] },
                { title: "荣誉等级", name: "honorLevel", inputType: "TEXT" ,dependency:["type","1"]},
                { title: "认定文号", name: "affirmWrit",required: "required", inputType: "TEXT" ,dependency:["type","1","2"]},
                { title: "法定代表人", name: "chargePerson", inputType: "TEXT" ,dependency:["type","2"]},
                { title: "注册地址", name: "registeredAddress", inputType: "TEXT",dependency:["type","2"]},
                { title: "确认严重失信时间", name: "losePromiseTime",required: "required", inputType: "DATE",dependency:["type","2"] },
                { title: "主要失信事实", name: "losePromiseTruth",required: "required", inputType: "TEXT",dependency:["type","2"] },
                { title: "评定名称", name: "assessmentResultName",required: "required", inputType: "TEXT",dependency:["type","3"] },
                { title: "评定结果", name: "assessmentResult",required: "required", inputType: "SELECT", enum:"assessment-result-type",dependency:["type","3"] },
                { title: "认定(评定)日期", name: "affirmTime",required: "required", inputType: "DATE",dependency:["type","1","3"] },
                { title: "认定(评定)部门全称", name: "affirmDepartmentName",required: "required", inputType: "TEXT" },
                { title: "荣誉内容", name: "honorText",required: "required", inputType: "TEXTAREA" ,dependency:["type","1"]},
                { title: "行政处理处罚或法院判决决定的主要内容", name: "punishText",required: "required", inputType: "TEXTAREA",dependency:["type","2"] },
                { title: "备注", name: "remark", inputType: "TEXTAREA" }
				]
	    };
    
        $.getAjax("/credit/department/credit/get?id="+$("#id").val(), function(data) {
            var html = generateHtml(options);
            $(".content").html(html);
            $.initComponment($(".content"));

            var model = new tonto.Model("model", options.columns);
            model.setData(data);
        });
    });
    </script>
</body>

</html>