<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/credit/header" />

<body>
<tt:constant enumcode="honor-level-type" />
    <section class="content-header">
        <h1 th:text="|自然人名单上报-${type == '1' ? '红榜' : (type == '2' ? '黑榜' : '')}|"></h1>
    </section>
    <section class="content">
        <div class="box box-solid">
            <div class="box-body">
                <form id="searchbar" class="form-horizontal form-search">
                    <input type="hidden" id="type" name="type" th:value="${type}">
                	<div class="form-group">
                        <div class="col-md-2" id="nameDiv">
                            <input name="name" class="form-control" placeholder="请输入姓名" />
                        </div>
                        <div class="col-md-2" id="chargePersonNameDiv">
                            <input name="chargePersonName" class="form-control" placeholder="请输入负责人姓名"  />
                        </div>
                        <div class="col-md-2">
                            <input name="identificationNo" class="form-control" placeholder="请输入证件号码"  />
                        </div>
                        <div class="col-md-2">
                            <input name="bgTime" placeholder="录入开始时间"  autocomplete="off" type="text" class="form-control tonto-datepicker-date"  >
                        </div>
                        <div class="col-md-2">
                            <input name="endTime" placeholder="录入结束时间"  autocomplete="off" type="text" class="form-control tonto-datepicker-date"  >
                        </div>
                        <div class="col-md-4">
                            <div class="pull-right">
                                <button type="button" style="width:100px" class="btn btn-primary tonto-btn-search" onclick="table.refresh()"><i class="fa fa-search"></i>查询</button>
                                <button type="button" style="width:100px" class="btn btn-default" onclick="$('#searchbar').resetSearch()"><i class="fa fa-repeat"></i>重置</button>
                            </div>
                        </div>
                    </div>
                    <!-- 表单仅有一个text-input时回车会提交表单，这里添加一个无用的防止回车提交 -->
                    <input type="text" style="display:none">
                </form>
                <input type="hidden" id="pageLimit" th:value="${query?.limit}" />
                <input type="hidden" id="pageOffset" th:value="${query?.offset}" />
            </div>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" th:text="|${type == '1' ? '自然人红名单信息导入' : (type == '2' ? '自然人黑名单信息导入' : '')}|"></h4>
                    </div>
                    <div class="modal-body">
                        <form id="uploadForm" enctype="multipart/form-data" th:action="${type == '1' ? '/credit/department/person/credit/upload/red' : (type == '2' ? '/credit/department/person/credit/upload/black' : '')}" method="post" class="form-horizontal">
                            <div class="form-group" style="margin-bottom: 0">
                                <div class="col-md-10">
                                    <input id="file" name="file" type="file">
                                    <div id="errorBlock" class="help-block"></div>
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-open"></i>&nbsp;上传</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">关闭</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        </div>
        <div class="box box-solid" style="margin-top:20px">
            <div id="result" class="box-body">
                <table id="dataGrid"></table>
                <div id="toolbar">
                    <div class="btn-group">
                        <a  th:if="${type == '1'}" href="/static/excel/信用办红名单自然人导入模板.xlsx" class="btn bg-teal-active" target="_blank"  download = "自然人红名单导入模板" ><i class="glyphicon glyphicon-download-alt"></i>&nbsp;导入模板下载</a>
                        <a  th:if="${type == '2'}" href="/static/excel/信用办黑名单自然人导入模板.xlsx" class="btn bg-teal-active" target="_blank"  download = "自然人黑名单导入模板" ><i class="glyphicon glyphicon-download-alt"></i>&nbsp;导入模板下载</a>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
                            <i class="fa  fa-file-excel-o"></i>&nbsp;模板导入
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div th:include="/credit/footer" />
    <script type="text/javascript">
    var table,type;
    $(function() {
        type = $("#type").val();
        initDataGrid();
        hideColumn();
        initUploadForm();
    });

    function initDataGrid() {
        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    { title: "姓名", field: "name" },
                    { title: "负责人名字", field: "chargePersonName" },
                    { title: "身份号码", field: "identificationNo" },
                    { title: "认定文号", field: "affirmWrit" },
                    { title: "认定部门(单位)全称", field: "affirmDepartmentName" },
                    { title: "荣誉名称", field: "honorName" },
                    { title: "认定日期", field: "affirmTime" ,formatter: "date" },
                    { title: "主要失信事实", field: "losePromiseTruth" },
                    { title: "确认严重失信时间", field: "losePromiseTime" ,formatter: "date" },
                    { title: "状态", field: "status" ,formatter: function (value, row, index) {
                            return value === 0 ? "<span  class='label label-warning'>未上报</span>" : ( value === 1 ? "<span  class='label label-success'>已上报</span>": '');
                        }},
                    {
                        title: "操作",
                        align: "center",
                        width: "15%",
                        events: {
                            'click .detail': function(e, value, row, index) {
                                detail(row);
                            },
                            'click .remove': function(e, value, row, index) {
                                remove(row);
                            },
                            'click .report': function(e, value, row, index) {
                                report(row);
                            },
                            'click .reply': function(e, value, row, index) {
                                reply(row);
                            }
                        },
                        formatter: function operateFormatter(value, row, index) {
                            var html = '<button class="detail btn btn-xs btn-info" style="margin-right:10px"><i class="glyphicon glyphicon-edit"></i>详情</button>';
                            html += row.status === 0 ? '<button class="report btn btn-xs btn-success" style="margin-right:10px"><i class="glyphicon glyphicon-arrow-up"></i>上报</button>' : (row.status === 1 ? '<button class="reply btn btn-xs bg bg-maroon-gradient" style="margin-right:10px"><i class="fa fa-mail-reply"></i>撤销</button>' : '');
                            html += row.status === 0 ? '<button class="remove btn btn-xs btn-danger" ><i class="glyphicon glyphicon-remove"></i>删除</button>' : '';
                            return html;
                        }
                    }
                ]
            ],
            url: '/credit/department/person/credit/find/page',
            searchbar: '#searchbar',
            exportUrl: '/credit/department/person/credit/export',
            showExport: true,
            showColumns: true,
            pagination: true,
            toolbar: "#toolbar",
            showRefresh: true
        });
    }

    function add() {
        window.location = '/credit/department/person/credit/add';
    }

    function detail(row) {
        window.location = '/credit/department/person/credit/detail' + (row ? ('?id=' + row.id+'&type='+row.type) : '');
    }

    function report(row) {
        if (row) {
            layer.confirm('确定上报该条数据吗?', function() {
                $.getAjax('/credit/department/person/credit/report?id=' + row.id +'&type='+type, function() {
                    $.successMessage("上报成功");
                    table.refresh();
                });
            });
        }
    }

    function reply(row) {
        if (row) {
            layer.confirm('确定撤销该条数据吗?',{
                title:"PS:可撤销时间范围为上报当天23:50之前!" ,
                icon:3
            }, function() {
                $.getAjax('/credit/department/person/credit/cancel?id=' + row.id +'&type='+type, function() {
                    $.successMessage("撤销成功");
                    table.refresh();
                });
            });
        }
    }

    function hideColumn() {
        if (type == 1) {
            table.hideColumn("chargePersonName");
            table.hideColumn("losePromiseTruth");
            table.hideColumn("losePromiseTime");
            $("#chargePersonNameDiv").hide();
        } else {
            table.hideColumn("name");
            table.hideColumn("honorName");
            table.hideColumn("affirmTime");
            $("#nameDiv").hide();
        }
    }

    function initUploadForm() {
        $("#file").fileinput({
            language: 'zh',
            uploadUrl: '/common/upload/files',
            layoutTemplates: {
                main1: '{preview}\n' +
                    '<div class="kv-upload-progress kv-hidden"></div><div class="clearfix"></div>\n' +
                    '<div class="input-group {class}">\n' +
                    '  {caption}\n' +
                    '  <div class="input-group-btn">\n' +
                    '    {remove}\n' +
                    '    {browse}\n' +
                    '  </div>\n' +
                    '</div>'
            },
            showPreview: false,
            msgPlaceholder: "选择上传的Excel文件",
            removeClass: "btn btn-danger",
            allowedFileExtensions: ["xlsx"]
        });
        $("#uploadForm").createForm(showImportResult);
    }

    function showImportResult(result) {
        if (result) {
            if (result.errorCount == 0) {
                $.successAlert("导入成功");
                $("#myModal").modal('hide');
                table.refresh();
            } else {
                var html = "<p>成功导入" + result.successCount + "条记录</p>";
                result.errors.forEach(function(a) {
                    html += "<p>导入第<b>" + a.index + "</b>条记录失败：" + a.message + "</p>";
                });

                $("#myModal").modal('hide');
                layer.alert(html, { icon: 5, area: ['600px', '200px'] });
            }
        } else {
            $("#myModal").modal('hide');
            $.errorAlert("没有可导入的名单，是否正确使用模板");
        }
    }

    function remove(row) {
        if (row) {
            layer.confirm('确定删除吗?', function() {
                $.getAjax('/credit/department/person/credit/delete?id=' + row.id, function() {
                    $.successMessage("删除成功");
                    table.refresh();
                });
            });
        }
    }

    </script>
</body>

</html>