<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/credit/header" />

<body>
    <tt:constant enumcode="selection-grade-type,"/>
    <section class="content-header">
        <h1>项目选项管理</h1>
        <ol class="breadcrumb">
            <li><a href="/credit/template/item/selection/index"><i class="fa fa-table"></i>列表</a></li>
            <li class="active">新增</li>
        </ol>
    </section>
    <section class="content">
    </section>
    <div class="col-sm-2 col-sm-offset-5 btn-back">
    	<a href="/credit/template/item/selection/index" class="btn btn-primary btn-block">返回</a>
    </div>
    <div th:include="/credit/footer" />
    <script type="text/javascript">
    var options = {
        id: "model",
        name: "新增",
        url:"/credit/template/item/selection/save",
        columns: [
				{ title: "选项名称", name: "selectionName", inputType: "TEXT" },
				{ title: "选项标号（ABCDE）", name: "selectionGrade", enum: "selection-grade-type", required: "required", inputType: "SELECT" }
				]
    }

    $(function() {       
        var html = generateEditHtml(options);
        $(".content").html(html);
        var model = new tonto.Model("model", options.columns, {
            pattern:"edit",
            successCallback:function(){
                $.successAlert("保存成功",function(){
                    window.location = "/credit/template/item/selection/index";
                });
            }
        });
        model.setData(null);
        $.initComponment($(".content"));
    });
    </script>
</body>

</html>