<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/credit/header" />

<body>
    <tt:constant enumcode="item-target-type,selection-grade-type,sex-type" />
    <input th:value="${id}" id="id" type="hidden" />
    <section class="content">
    </section>
    <div class="col-sm-2 col-sm-offset-5 btn-back">
        <a href="/credit/template/item/index" class="btn btn-primary btn-block">返回</a>
    </div>
    <div th:include="/credit/footer" />
    <script type="text/javascript" src="/static/js/template.js"></script>
    <script type="text/javascript">
    $(function() {
        var itemId = $("#id").val();
        $.getAjax("/credit/template/item/get?id=" + itemId, function(data) {
            createItemEditor(data, ".content", function(data, formSubmitBtn) {
                var files = data.explainAttachmentFiles;
                if (files) {
                    ajaxUploadFile(files, function(att) {
                        console.log(att);
                    }, formSubmitBtn);
                }
            });
        });
    });
    </script>
</body>

</html>