<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/credit/header" />

<body>
    <tt:constant enumcode="item-target-type,selection-grade-type,sex-type" />
    <input th:value="${id}" id="id" type="hidden" />
    <section class="content">
    </section>
    <div class="col-sm-2 col-sm-offset-5 btn-back">
        <a href="/credit/template/item/index" class="btn btn-primary btn-block">返回</a>
    </div>
    <div th:include="/credit/footer" />
    <script type="text/javascript" src="/static/js/template.js"></script>
    <script type="text/javascript">
    $(function() {
        var itemId = $("#id").val();
        $.getAjax("/credit/template/item/get?id=" + itemId, function(data) {
            createItemEditor(data, ".content", function(data) {
                console.log(data);

                // var files = data.explainAttachmentFiles;
                // if (files && files.length > 0) {
                //     $.ajaxFileUpload({
                //         url: '/common/upload/files', //用于文件上传的服务器端请求地址
                //         type: 'post',
                //         secureuri: false, //是否需要安全协议，一般设置为false
                //         fileElementId: $("input[name='explainAttachmentFiles']").attr("id"), //文件上传域的ID
                //         dataType: 'json', //返回值类型 一般设置为json
                //         success: function(d) //服务器成功响应处理函数
                //         {
                //             //由于ajaxFileUpload把原来的file元素替换成新的file元素，所以之前绑定的change事件就失效了，需要重新绑定一下
                //             console.log(d)
                //         }
                //     });
                // }
            });
        });
    });
    </script>
</body>

</html>