<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/credit/header" />

<body>
    <tt:constant enumcode="item-target-type,selection-grade-type,boolean-type" />
    <section class="content-header">
        <h1>项目管理</h1>
        <ol class="breadcrumb">
            <li><a href="/credit/template/item/index"><i class="fa fa-list-alt"></i>项目列表</a></li>
            <li class="active">项目详情</li>
        </ol>
    </section>
    <section class="content">
    </section>
    <div th:include="/credit/footer" />
    <script type="text/javascript">
    var options = {
        id: "item_model",
        name: "添加项目",
        server: false,
        cancelBtn: false,
        editFormClass: false,
        formButtonBar:[{
            id:  'reply_btn',
            type: 'button',
            name:  '返回',
            class: 'btn btn-default btn-block',
            order: 2
        }],
        columns: [
            { title: "项目名称", name: "itemName", required: "required", inputType: "TEXTAREA" },
            { title: "项目适用对象", name: "itemTargetType", required: "required", inputType: "RADIO", enum: "item-target-type", colspan: 2 },
            { title: "是否多选", name: "isMultiple", required: "required", inputType: "RADIO", enum: "boolean-type" },
            {
                title: "项目选项",
                name: "selections",
                required: "required",
                inputType: "SUB-MODEL",
                subViewField: "personnelName",
                addSubModelBtnTitle: '添加选项',
                colCount: 5,
                subTitleViewHtmml: function(data) {
                    var a = $.getConstantEnumValue("selection-grade-type", data.selectionGrade);
                    var html = '<span class="product-description" style="line-height:34px">' + (data.selectionName ? omitString(data.selectionName, 20) + '（' + a + ')' : a) + '</span>';
                    return html;
                },
                subModelOptions: {
                    headBorder: false,
                    hearderBox: false,
                    server: false,
                    layerOption: {
                        height: 400,
                        width: 700
                    },
                    columns: [
                        { title: "选项名称", name: "selectionName", inputType: "TEXT" },
                        { title: "选项诚信等级", name: "selectionGrade", enum: "selection-grade-type", required: "required", inputType: "SELECT" }
                    ]
                }
            },
        ]
    }

    var itemModel;

    function save(confirm) {
        var data = itemModel.getFormData();
        if (!data) {
            $.errorMessage("请输入并保存项目内容！");
            return;
        }

        var selections = data.selections;

        if (selections && selections.length > 0) {
            var isOne = selections.length == 1;

            for (var i = 0; i < selections.length; i++) {
                var d = selections[i];

                if (!isOne && (!d.selectionName || d.selectionName.length == 0)) {
                    $.errorMessage("多个选项时必须填写选项名称以区分！");
                    return;
                }
            }

            $.postJsonAjax("/credit/template/item/save", data, function(result) {
                $.successAlert("保存成功", function() {
                    window.location = '/credit/template/item/index';
                });
            }, $("#item_model_form_submit_btn"));

        } else {
            $.errorMessage("必须创建一个选项！");
        }
    }

    $(function() {
        var html = generateHtml(options);
        $(".content").html(html);
        $("#reply_btn").click(function () {
            window.location = "/credit/template/item/index";
        });
        $.initComponment($(".content"));
        itemModel = new tonto.Model("item_model", options.columns, {
            pattern: "edit",
            server: false,
            submitClick: function() {
                save();
            }
        });
        itemModel.setData(null);

    });
    </script>
</body>

</html>