<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/credit/header" />

<body>
    <tt:constant enumcode="supervise-scope" />
    <section class="content-header">
        <h1>机构模板管理</h1>
    </section>
    <section class="content">
        <div class="box box-solid" style="margin-top:20px">
            <div id="result" class="box-body">
                <table id="dataGrid"></table>
                <div id="toolbar">
                    <!--<div class="btn-group">
                        <a onclick="add()" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i>添加机构</a>
                    </div>-->
                </div>
            </div>
        </div>
    </section>
    <div th:include="/credit/footer" />
    <script type="text/javascript">
    var table,data;
    $(function() {
        data = getTableDatas();
        initDataGrid();
    });

    function initDataGrid() {
        table = $.createTable("#dataGrid", {
            columns: [
                [
                    { title: "机构名称", field: "name" },
                    {
                        title: "操作",
                        align: "center",
                        width: "100px",
                        events: {
                            'click .edit': function(e, value, row, index) {
                                edit(row);
                            }
                        },
                        formatter: function operateFormatter(value, row, index) {
                            return '<button class="detail btn btn-xs btn-info" style="margin-right:10px"><i class="glyphicon glyphicon-edit"></i>详情</button>' +
                                '<button class="edit btn btn-xs btn-success"><i class="fa fa-wrench"></i>模板配置</button>';

                        }
                    }
                ]
            ],
            data: data,
            pagination: false,
            //exportUrl: '/credit/org/agency/export',
            //showExport: true,
            showColumns: true,
            sidePagination:"client"
        });
    }

    function getTableDatas() {
       let constantEnum = $.getConstantEnum("supervise-scope");
       let data = [];
        if ($.isArray(constantEnum)) {
            $.each(constantEnum,function (index, kv) {
                let row = {};
                row["code"] = kv.key;
                row["name"] = kv.value;
                data.push(row);
            })
        }

         return data;
    }

    /*function detail(row) {
        window.location = '/credit/org/agency/detail?isTemplatePage=true' + (row ? ('&id=' + row.id) : '');
    }*/

    function edit(row) {
        window.location = '/credit/template/item/agency/configuration/index' + (row ? ('?id=' + row.id +'&agencyName='+row.name) : '');
    }
    </script>
</body>

</html>