<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/credit/header" />

<body>
    <tt:constant enumcode="selection-grade-type,"/>
    <section class="content-header">
        <h1>项目选项管理</h1>
        <ol class="breadcrumb">
            <li><a href="/credit/template/item/selection/index"><i class="fa fa-list-alt"></i>列表</a></li>
            <li class="active">详情</li>
        </ol>
    </section>
    <section class="content">
    </section>
    <div class="col-sm-2 col-sm-offset-5 btn-back">
    	<a href="/credit/template/item/selection/index" class="btn btn-primary btn-block">返回</a>
    </div>
    <input type="hidden" id="id" th:value="${id}"/>
    <div th:include="/credit/footer" />
    <script type="text/javascript">

    $(function() {
    	var options = {
	        id: "model",
	        name: "详情",
	        url:"/credit/template/item/selection/update?id="+$("#id").val(),
	        columns: [
				{ title: "选项名称", name: "selectionName", inputType: "TEXT" },
				{ title: "选项标号（ABCDE）", name: "selectionGrade", enum: "selection-grade-type", required: "required", inputType: "SELECT" }
				]
	    }
    
        $.getAjax("/credit/template/item/selection/get?id="+$("#id").val(), function(data) {
            var html = generateHtml(options);
            $(".content").html(html);
            var model = new tonto.Model("model", options.columns);
            model.setData(data);
            $.initComponment($(".content"));
        });
    });
    </script>
</body>

</html>