<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/credit/header" />
<link rel="stylesheet" href="/static/assets/daterangepicker/daterangepicker.css">
<style>
    .row{
        padding: 5px 10px  0 10px;
    }
    .notice-list {
        list-style: none;
    }

    .right-tool {
        float: right;
        padding-top: auto;
    }
    .ul-dashed {
        border-bottom: 1px dashed #dddddd;
        padding-left: 12px;
        line-height: 14px;
        margin-right: 21px;
        height: auto;
    }

    .notice-li {
        margin-bottom: 6px;
    }
    .name {
        color: #000;
    }

    .name:hover,
    .name:active,
    .name:focus {
        color: #000;
        text-decoration: underline
    }
    .baidu-maps label {
        max-width: none;
    }


    .tabLabel {
        width: 30%;
        text-align: left;
        font-weight: bold;
    }

    .tabText {
        text-align: center;
    }

    .alarmPic {
        width: 80px;
        height: 80px;
    }

    .childTab {
        width: 100%;
        height: 100%;
    }

    .childTab th {
        text-align: center;
        height:15%;
    }

    .alarmDiv {
        width: 400px;
        height: 275px;
    }
    .BMap_bubble_title{
        text-align: center;
        font-weight: bold;
        color:green;
        font-size: 15pt;
    }

    .infoBoxContent{
        margin:20px;
    }
    .infoBoxContent button{
        background-color: #008CBA;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 16px;
        width: 120px;
    }
    .infoBoxContent h3{
        color: white;
    }
    .infoBoxContent tr{
        color:white;
    }

    .infoBoxContent p{
        color:white;
    }
    .infoBoxContent:before {
        content: '';
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-top-color: #333333;
        position: absolute;
        left: 50%;
        top: 100%;
        margin-left: -20px;
    }

</style>
<body>
<section class="content" style="padding-top: 5px">
    <div class="row" style="height: 250px" id="countDiv">
        <div class="col-md-6" style="padding-left: 0">
            <div class="box box-success">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart"></i>
                    <h3 class="box-title">事件等级统计</h3>
                    <div class="box-tools pull-right">
                        <form action="/credit/home/page/count/event" method="get"  class="navbar-form navbar-right  no-margin" style="padding-right: 0;" role="search">
                            <div class="input-group" >
                                <input type="text" name="searchTime" id="searchTime" class="form-control" th:placeholder="|查询日期(${time})|">
                                <span class="input-group-btn" >
                                     <button type="button"  class="btn btn-flat tonto-btn-search" onclick="query()" ><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <div class="col-md-12">
                        <div id="eventChart" style="height: 350px"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 no-padding">
            <div class="box box-success">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart"></i>
                    <h3 class="box-title">机构信誉等级统计</h3>
                    <div class="box-tools pull-right">
                        <form action="/credit/home/page/count/event" method="get"  class="navbar-form navbar-right  no-margin" style="padding-right: 0;" role="search">
                            <div class="input-group">
                                <input type="text" name="searchTime" id="searchTime1" class="form-control"  th:placeholder="|查询日期(${time})|">
                                <span class="input-group-btn" >
                                     <button type="button"  class="btn btn-flat tonto-btn-search" onclick="query1()" ><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <div class="col-md-12">
                        <div id="orgChart" style="height: 350px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8" style="padding-left: 0">
            <div class="box box-success">
                <div class="box-header with-border">
                    <i class="fa fa-map-marker"></i>
                    <h3 class="box-title">机构信誉地图展示</h3>
                    <div class="box-tools pull-right">
                        <form class="navbar-form navbar-right no-margin" style="padding-right: 0;" id="searchbar" role="search">
                            <div class="input-group">
                                <select id="orgName" class="form-control" >
                                    <option value=""></option>
                                </select>
                                <span class="input-group-btn" >
                                     <button type="button"  class="btn btn-flat tonto-btn-search" onclick="query2()" ><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box-body">
                    <div id="allmap" class="baidu-maps" style="height: 520px"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 no-padding">
            <div class="box box-success">
                <div class="box-header with-border">
                    <i class="fa fa-bell-o"></i>
                    <h3 class="box-title">最新公告</h3>
                    <a style="float:right" href="/credit/publicity/message/more/index">更多>></a>
                </div>
                <div class="box-body">
                    <ul class="notice-list ul-dashed" th:each="notice,iter: ${notices}">
                        <li class="notice-li" >
                            <strong><a class="name" th:href="${'/credit/home/page/notice/view?id='+ notice.id+'&isHomePage=true'}"
                                       th:text="${notice.title.length()>45}?${#strings.substring(notice.title,0,45)+'....'}:${notice.title}"></a></strong>
                            <div class="right-tool">
                                <span th:text="${#dates.format(notice.publishTime, 'yyyy-MM-dd')}"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:include="/credit/footer" />
<script type="text/javascript" src="/static/assets/daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="/static/assets/daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=sSelQoVi2L3KofLo1HOobonW"></script>
<script type="text/javascript" src="/static/assets/baidumap/InfoBox_min.js"></script>
<script type="text/javascript">
    /*<![CDATA[*/
    var  points;
    $(function () {
        initDateInput($("#searchTime"));
        initDateInput($("#searchTime1"));
        generatorEventChart(eventChart);
        generatorOrgChart(orgChart);
        $.postAjax("/credit/home/page/map/org", function (result) {
            points = result.filter((point, index, array) => point.lng && point.lat);
            initQuery2Input();
            initMap()
        });
    });
    //图表自适应大小
    window.addEventListener("resize", function () {
        eventChart.resize();
        orgChart.resize();
    });

    var eventChart = echarts.init(document.getElementById('eventChart'));
    var orgChart = echarts.init(document.getElementById('orgChart'));

    function query(){
        let searchTime = $("#searchTime").val();
        if (!searchTime) {
            $.errorMessage("请选择查询日期");
            return;
        }
        generatorEventChart(eventChart);
    }

    function query1(){
        let searchTime = $("#searchTime1").val();
        if (!searchTime) {
            $.errorMessage("请选择查询日期");
            return;
        }
        generatorOrgChart(orgChart);
    }
    function generatorEventChart(chart) {
        let searchTime = $("#searchTime").val();
        let split = searchTime.split("~");
        let bgTime = split[0];
        let endTime = split[1];
        $.postAjax("/credit/home/page/count/event",{'bgTime':bgTime,'endTime':endTime}, function(result) {
            var chartValue = [];
            $.each(result,function (name, value) {
                if (name === 'grade1') {
                    chartValue[0] = value
                }else if (name === 'grade2') {
                    chartValue[1] = value
                }else if (name === 'grade3') {
                    chartValue[2] = value
                }else if (name === 'grade4') {
                    chartValue[3] = value
                }else if (name === 'grade5') {
                    chartValue[4] = value
                }
            });
            var labelOption = {
                normal: {
                    show: true,
                    position: 'top',
                    distance: 15,
                    align: 'center',
                    verticalAlign: 'top',
                    rotate: 0,
                    formatter: '{name|{a}}	 {c}个',
                    fontSize: 12,
                    rich: {
                        name: {
                            textBorderColor: '#fff'
                        }
                    }
                }
            };
            option = {
                color: ['#3398DB'],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    },
                    formatter: function (params) {
                        return params[0].name + '发生的总量: '
                            + params[0].data + '(个)<br/>'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                calculable: true,
                xAxis: [
                    {
                        type: 'category',
                        data: ['事件A类','事件B类','事件C类','事件D类','事件E类'],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        name:'事件发生总量'
                    }
                ],
                series: [
                    {
                        name: '事件量',
                        type: 'bar',
                        barWidth: '60%',
                        label: labelOption,
                        barGap: 0,
                        data: chartValue,
                    }
                ]
            };
            chart.setOption(option,true);
        });
    };

    function generatorOrgChart(chart) {
        let searchTime = $("#searchTime1").val();
        let split = searchTime.split("~");
        let bgTime = split[0];
        let endTime = split[1];
        $.postAjax("/credit/home/page/count/org",{'bgTime':bgTime,'endTime':endTime}, function(result) {
            var chartValue = [];
            $.each(result,function (name, value) {
                if (name === 'grade1') {
                    chartValue[0] = value
                }else if (name === 'grade2') {
                    chartValue[1] = value
                }else if (name === 'grade3') {
                    chartValue[2] = value
                }else if (name === 'grade4') {
                    chartValue[3] = value
                }else if (name === 'grade5') {
                    chartValue[4] = value
                }
            });
            var labelOption = {
                normal: {
                    show: true,
                    position: 'top',
                    distance: 15,
                    align: 'center',
                    verticalAlign: 'top',
                    rotate: 0,
                    formatter: '{name|{a}}	 {c}个',
                    fontSize: 12,
                    rich: {
                        name: {
                            textBorderColor: '#fff'
                        }
                    }
                }
            };
            option = {
                color: ['#3398DB'],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    },
                    formatter: function (params) {
                        return params[0].name + '的机构数量: '
                            + params[0].data + '(个)<br/>'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                calculable: true,
                xAxis: [
                    {
                        type: 'category',
                        data: ['诚实守信','信用良好','一般失信','较重失信','严重失信'],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        name:'机构数量'
                    }
                ],
                series: [
                    {
                        name: '机构数量',
                        type: 'bar',
                        barWidth: '60%',
                        label: labelOption,
                        barGap: 0,
                        data: chartValue,
                    }
                ]
            };
            chart.setOption(option,true);
        });
    };

    function loadJScript() {
        console.log("loadMap")
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "http://api.map.baidu.com/api?v=2.0&ak=sSelQoVi2L3KofLo1HOobonW&callback=initMap";
        document.body.appendChild(script);
    }

    function loadScript(src, callback) {
        var script = document.createElement("script");
        script.type = "text/javascript";
        var loaded;
        script.src = src;
        if(typeof callback === 'function') {
            script.onload = script.onreadystatechange = function () {
                if (!loaded && (!script.readyState || /loaded|complete/.test(script.readyState))) {
                    script.onload = script.onreadystatechange = null;
                    loaded = true;
                    callback();
                }

            };
            document.body.appendChild(script);
            console.log("loadBox")
        }
    }

    function query2(){
        let orgname = $("#orgName").val();
        if (orgname) {
            var newPoints = points.filter((point, index, array) => point.agencyName === orgname);
            if (newPoints.length === 0) {
                $.errorMessage("查询不到要搜索的机构");
                return;
            }
        } else {
            $.errorMessage("请输入正确的机构名称");
            return;
        }
        initMap(newPoints);
    }

    function initDateInput(el) {
        //定义locale汉化插件
        var locale = {
            "format": 'YYYY-MM-DD',
            "separator": "~",
            "applyLabel": "确定",
            "cancelLabel": "取消",
            "fromLabel": "起始时间",
            "toLabel": "结束时间'",
            "customRangeLabel": "自定义",
            "weekLabel": "W",
            "daysOfWeek": ["日", "一", "二", "三", "四", "五", "六"],
            "monthNames": ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
            "firstDay": 1
        };

        el.daterangepicker(
            {
                autoUpdateInput: false,
                'locale': locale,
                "opens": "center",
                showDropdowns: true, //年月份下拉框
                //汉化按钮部分
                ranges: {
                    '昨日': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    '最近7日': [moment().subtract(6, 'days'), moment()],
                    '最近30日': [moment().subtract(29, 'days'), moment()],
                    '本月': [moment().startOf('month'), moment().endOf('month')],
                    '上月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                showWeekNumbers: true,
                startDate: moment().hours(0).minutes(0).seconds(0), //设置开始日期
                minDate: moment().subtract(1, 'year'),
                maxDate: moment()
            }
        ).on('cancel.daterangepicker', function(ev, picker) {
            el.val("");
        }).on('apply.daterangepicker', function(ev, picker) {
            el.val(picker.startDate.format('YYYY-MM-DD')+"~"+picker.endDate.format('YYYY-MM-DD'));
        });
    }

    function initQuery2Input() {
        let $orgName = $("#orgName");
        let inputData = [];
        if (points && $orgName.length > 0) {
            points.forEach(function (point) {
                inputData.push(point.agencyName)
            })
        }
        $orgName.select2({
            data: inputData,
            tags: true,
            placeholder: "请选择要查询的机构    ", //未选择时显示文本
            maximumSelectionSize: null, //显示最大选项数目
            multiple: false,
            width: '100%',
            allowClear: true
        });


    }

    //创建标注点并添加到地图中
    function addMarker(map,points) {
        if (points && points.length > 0) {
            //循环建立标注点
            for(var i=0, pointsLen = points.length; i<pointsLen; i++) {
                var point = new BMap.Point(points[i].lng, points[i].lat); //将标注点转化成地图上的点
                var marker = new BMap.Marker(point); //将点转化成标注点
                map.addOverlay(marker);  //将标注点添加到地图上
                //添加监听事件
               // marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
                var label = setLabelStyle(points[i].agencyName,point);
                marker.setLabel(label);
                (function() {
                    var thePoint = points[i];
                    marker.addEventListener("click",
                        function() {
                            //showInfo(this,thePoint);
                            showBoxInfo(map,this,thePoint)
                        });
                })();
            }
        }
    }

    //设置标签样式
    function setLabelStyle(content,point) {
        //左偏移  右偏移
        var offsetSize = new BMap.Size(0, 0);
        var labelStyle = {
            color: "red",
            fontSize: "10px",
            backgroundColor: "0.05",
            border: "0",
            fontWeight: "bold",
            fontFamily:"微软雅黑"
        };
        //不同数字长度需要设置不同的样式。
        var num=parseInt(content.length/10);
        switch(num) {
            case 0:
                offsetSize = new BMap.Size(-20, -20);
                break;
            case 1:
                offsetSize = new BMap.Size(-20, -35);
                break;
            case 2:
                offsetSize = new BMap.Size(-20, -50);
                break;
            case 3:
                offsetSize = new BMap.Size(-20, -65);
                break;
            default:
                break;
        }

        var label = new BMap.Label("<span class='angle'>"+content+"<span>", {
            position : point,
            offset: offsetSize
        });
        label.setStyle(labelStyle);
        return label;
    }

    //根据原始数据计算中心坐标和缩放级别，并为地图设置中心坐标和缩放级别。
    function setZoom(map,points){
        if (points && points.length > 0) {
            let newPoints =points;
            var maxLng = newPoints[0].lng;
            var minLng = newPoints[0].lng;
            var maxLat = newPoints[0].lat;
            var minLat = newPoints[0].lat;
            var res;
            for (var i = newPoints.length - 1; i >= 0; i--) {
                res = newPoints[i];
                if (res.lng > maxLng) maxLng = res.lng;
                if (res.lng < minLng) minLng = res.lng;
                if (res.lat > maxLat) maxLat = res.lat;
                if (res.lat < minLat) minLat = res.lat;
            }
            ;
            var cenLng = (parseFloat(maxLng) + parseFloat(minLng)) / 2;
            var cenLat = (parseFloat(maxLat) + parseFloat(minLat)) / 2;
            var zoom = getZoom(map, maxLng, minLng, maxLat, minLat);
            map.centerAndZoom(new BMap.Point(cenLng, cenLat), zoom);
        } else {
            map.centerAndZoom(new BMap.Point(120.987239, 31.391653), 14);
        }
    }


    //根据地名更新坐标
    function updatePoints(points) {
        var geoc = new BMap.Geocoder();

        var noCoordinatePoints = points.filter((point, index, array) => !point.lng && !point.lat);
        var coordinatePoints = points.filter((point, index, array) => point.lng && point.lat);
        if (noCoordinatePoints &&  noCoordinatePoints.length > 0) {
            noCoordinatePoints.forEach(function (point) {
                geoc.getPoint(point.agencyName, function (point1) {
                    if (point1) {
                        point.lng = point1.lng;
                        point.lat = point1.lat;
                    }
                }, "昆山市");
            });
        }
        return coordinatePoints.concat(noCoordinatePoints);
    }


    //计算缩放级别的函数
    function getZoom (map,maxLng, minLng, maxLat, minLat) {
        var zoom = ["50","100","200","500","1000","2000","5000","10000","20000","25000","50000","100000","200000","500000","1000000","2000000"]//级别18到3。
        //最大最小的坐标点
        var pointA = new BMap.Point(maxLng,maxLat);  // 创建点坐标A
        var pointB = new BMap.Point(minLng,minLat);  // 创建点坐标B
        var distance = map.getDistance(pointA,pointB).toFixed(1);  //获取两点距离,保留小数点后两位
        for(var i=0,zoomLen = zoom.length; i <zoomLen; i++) {
            if(zoom[i] - distance > 0) {
                return 18 -i + 3;
                //地图范围常常是比例尺距离的10倍以上 所以加3
            }
        };
    }

    //展示信息窗口
    function showInfo(thisMarker,point) {
         $.postAjax('/credit/home/page/map/org/info',{'agencyId':point.agencyId},function (data) {
             point['events'] = data;
             var opts = {
                 width : 400,     // 信息窗口宽度
                 height: 300,     // 信息窗口高度
                 title : '机构信息'  // 信息窗口标题
             };
             //获取点的信息
             /*        var sContent =
                         '<ul style="margin:0 0 5px 0;padding:0.2em 0">'
                         +'<li style="line-height: 26px;font-size: 15px">'
                         +'<span style="width: 70px;display: inline-block;">机构名称:</span>' + '<font style="color: #992f2d;font-weight: bold">'+point.agencyName+'</font>' + '</li>'
                         +'<li style="line-height: 26px;font-size: 15px;">'
                         +'<span style="width: 100px;display: inline-block;">医疗信用等级:</span>' + point.grade + '</li>'
                         +'</ul>';*/
             var content='<div class="alarmDiv">';
             content+='<table style="width:100%;height:100%;" border="1" cellpadding="0" cellspacing="0">';
             content+='<tr><td class="tabLabel">机构名称</td><td class="tabText">'+point.agencyName+'</td></tr><tr><td class="tabLabel">医疗信用等级</td>';
             content+='<td class="tabText">'+point.gradeName+'</td></tr> <tr> <td colspan="3">';
             content+='<table border="1" class="childTab"><tr><th colspan="2">近期事件</th></tr>' ;
             if (point.events && point.events.length > 0) {
                 point.events.forEach(function (event) {
                     content += '<tr><td style="text-align: center">' + event.item + '</td><td style="text-align: center">' + event.resultGradeName + '</td></tr>';
                 });
             } else {
                 content += '<tr><td colspan="2">暂无数据</td></tr>';
             }
             content+=  '</table></td></tr></table></div>';
             var infoWindow = new BMap.InfoWindow(content,opts); //创建信息窗口对象
             thisMarker.openInfoWindow(infoWindow); //图片加载完后重绘infoWindow
         });

    }

    window.lastInfoBox = null;//定义上一个窗体为lastInfoBox;
    function showBoxInfo(map,marker, point) {
        $.postAjax('/credit/home/page/map/org/info',{'agencyId':point.agencyId},function (data) {
            point['events'] = data;
            var opts = {
                boxStyle:{
                    opacity: "0.8",
                    background: "#333333",
                    width: "380px",
                    height: "auto"
                }
                ,enableAutoPan: true
                ,align: INFOBOX_AT_TOP,
                closeIconUrl:'/static/image/iconfont-close.png',
                closeIconMargin:'1px',
                closeIconZIndex:1,
                closeIconWidth:'10px'

            };
            var html = '<div class="infoBoxContent">';
            html += '<h3>机构信誉情况</h3><hr />';
            html += '<div><table>';
            html += '<tr><td class="tabLabel">机构名称:</td><td class="tabText">'+point.agencyName+'</td></tr>';
            html += '<tr><td class="tabLabel">医疗信用等级:</td><td class="tabText">'+point.gradeName+'</td></tr>';
            html += '<table class="childTab" style="border-collapse:separate; border-spacing:0px 10px;"><tr><th colspan="2">近期事件</th></tr>';
            if (point.events && point.events.length > 0) {
                point.events.forEach(function (event) {
                    html += '<tr><td style="text-align: left">' + event.item + '</td><td style="text-align: right">' + event.resultGradeName + '</td></tr>';
                });
            } else {
                html += '<tr><td colspan="2">暂无数据</td></tr>';
            }
            html += '</table></table></div></div>';
            var infoWindow =  new BMapLib.InfoBox(map,html,opts);
            if(lastInfoBox){
                //判断上一个窗体是否存在，若存在则执行close
                lastInfoBox.close();
            }
            lastInfoBox = infoWindow;
            infoWindow.open(marker);
        });
    }

    //地图初始化
    function initMap(data) {
        var map = new BMap.Map("allmap");
        if ($.isArray(data) && data.length > 0) {
            setZoom(map, data);
            addMarker(map, data);
        } else {
            setZoom(map,points);               // 初始化地图,设置中心点坐标和地图级别。    map.addControl(new BMap.ScaleControl());                    // 添加比例尺控件
            addMarker(map,points);
        }
        //map.disableDragging();禁止拖动地图
        map.addControl(new BMap.OverviewMapControl());              //添加缩略地图控件
        map.enableScrollWheelZoom(true);
        map.addControl(new BMap.NavigationControl({ type: BMAP_NAVIGATION_CONTROL_LARGE ,anchor: BMAP_ANCHOR_TOP_LEFT, offset: new BMap.Size(40, 250)}));
        var bdary = new BMap.Boundary();
        bdary.get('昆山', function (rs) {       //获取行政区域
                                              // map.clearOverlays();        //清除地图覆盖物
                                              //for循环都删除掉了，只剩下这个
                                              //网上查了下，东西经南北纬的范围
            var EN_JW = "180, 90;";         //东北角
            var NW_JW = "-180,  90;";       //西北角
            var WS_JW = "-180, -90;";       //西南角
            var SE_JW = "180, -90;";        //东南角
            //4.添加环形遮罩层
            var ply1 = new BMap.Polygon(rs.boundaries[0] + SE_JW + SE_JW + WS_JW + NW_JW + EN_JW + SE_JW, { strokeColor: "none", fillColor: "rgb(246,246,246)", fillOpacity:1, strokeOpacity: 0.5 }); //建立多边形覆盖物
            map.addOverlay(ply1);
            //5. 给目标行政区划添加边框，其实就是给目标行政区划添加一个没有填充物的遮罩层
            var ply = new BMap.Polygon(rs.boundaries[0], { strokeWeight: 2, strokeColor: "#00f",fillColor: "" });
            map.addOverlay(ply);
            //map.setViewport(ply.getPath());    //调整视野
        });
    }

    //window.onload = loadScript('/static/assets/baidumap/InfoBox_min.js',loadJScript()); //异步加载地图
    /*]]>*/
</script>
</body>
</html>